.content-section[data-liffect="fadeIn"] .plan-card {
    opacity: 0;
    position: relative;
    -webkit-animation: fadeIn 600ms ease both;
    -webkit-animation-play-state: paused;
    -moz-animation: fadeIn 600ms ease both;
    -moz-animation-play-state: paused;
    -o-animation: fadeIn 600ms ease both;
    -o-animation-play-state: paused;
    animation: fadeIn 600ms ease both;
    animation-play-state: paused;
}

.content-section[data-liffect="fadeIn"].play .plan-card {
    -webkit-animation-play-state: running;
    -moz-animation-play-state: running;
    -o-animation-play-state: running;
    animation-play-state: running;
}

.method-choices[data-liffect="fadeIn"] .method-action {
    opacity: 0;
    position: relative;
    -webkit-animation: fadeIn 600ms ease both;
    -webkit-animation-play-state: paused;
    -moz-animation: fadeIn 600ms ease both;
    -moz-animation-play-state: paused;
    -o-animation: fadeIn 600ms ease both;
    -o-animation-play-state: paused;
    animation: fadeIn 600ms ease both;
    animation-play-state: paused;
}

.method-choices[data-liffect="fadeIn"].play .method-action {
    -webkit-animation-play-state: running;
    -moz-animation-play-state: running;
    -o-animation-play-state: running;
    animation-play-state: running;
}

.content-section .plan-card[data-liffect="fadeOut"]{
    -webkit-animation: fadeOut 500ms ease both;
    -webkit-animation-play-state: paused;
    -moz-animation: fadeOut 500ms ease both;
    -moz-animation-play-state: paused;
    -o-animation: fadeOut 500ms ease both;
    -o-animation-play-state: paused;
    animation: fadeOut 500ms ease both;
    animation-play-state: paused;
}

.content-section .plan-card[data-liffect="fadeOut"].play {
    -webkit-animation-play-state: running;
    -moz-animation-play-state: running;
    -o-animation-play-state: running;
    animation-play-state: running;
}

.summary, .methods{
    max-height: 1500px;
}

.section.down{
    max-height: 750px !important;
}

.section.up{
    max-height: 235px !important;
}

.playSlide{
    -webkit-transition:     max-height 2s ease;
    -moz-transition:        max-height 2s ease;
    -o-transition:          max-height 2s ease;
    -ms-transition:         max-height 2s ease;
    transition:             max-height 2s ease;
    max-height: 0px !important;
    overflow: hidden;
}

.playSlideDown{
    -webkit-transition:     max-height 2s ease;
    -moz-transition:        max-height 2s ease;
    -o-transition:          max-height 2s ease;
    -ms-transition:         max-height 2s ease;
    transition:             max-height 2s ease;
    max-height: inherit;
}

.plan-details.playSlide{
    max-height: 235px !important;
}

.playFadeOut{
    -webkit-transition:     max-height .8s ease;
    -moz-transition:        max-height .8s ease;
    -o-transition:          max-height .8s ease;
    -ms-transition:         max-height .8s ease;
    transition:             max-height .8s ease;
    /*display: none;*/
}

.playFadeIn{
    -webkit-transition:     max-height .8s ease;
    -moz-transition:        max-height .8s ease;
    -o-transition:          max-height .8s ease;
    -ms-transition:         max-height .8s ease;
    transition:             max-height .8s ease;
    /*display: block;*/
}

@-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-webkit-keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

@-moz-keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

@-o-keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}