//TODO - What is necessary in this stylesheet?
.button, .ui-dialog .ui-dialog-buttonpane button.button{
	/*.gradient(@white, @lightgray);
	color: @buttontext;
	*/ /*NE Branding*/
	border: 0px;
	.box_shadow(none);
	.rounded_corners(5px);
	.standardfont;
	line-height: @baseLineHeight;
	zoom:1;
	padding:5px 51px; 
    text-align: center;
	.persistent-profile-transition;
	text-decoration:none;
	margin:5px;
	position:relative;
	cursor: pointer;
	float:left;
	font-weight:bold;
	height: auto;
	min-height: 24px;
	line-height: 24px;
	text-transform: uppercase;
	/*NE Branding*/
	&:hover {
		text-decoration: none;
		/*.gradient(@lightgray, @white); */ /*NE Branding*/
 		.persistent-profile-transition;
	}
}

.btn_primary, .ui-dialog .ui-dialog-buttonpane button.btn_primary {
	.button;
	/*.gradient(@primary_button_minor, darken(@primary_button_minor, 10%));*/
	background: @default-heading-color; /*NE Branding*/
	color: #FFFFFF;
	font-size: 1.8em;
	height: auto;
	min-height: 20px;
	line-height: 24px; /*NE Branding*/

	/* We need the hover states, or the colors default back to the .button base class */
	&:hover{
	/*.gradient(darken(@primary_button_minor, 10%), @primary_button_minor);	*/
	background: @default-heading-color; /*NE Branding*/
	color: #FFFFFF;
	}

	// Disabled state -- specifically for the Cart's Enroll Now button
	&.disabled { display: none; }
}
/*NE Branding*/
.btn_secondry {
	.button;
	background: #FFF; 
	color: @red-color;
	border: 1px solid @red-color;
	font-size: 1.8em;
	height: auto;
	min-height: 20px;
	line-height: 20px;
	&:hover{
	background: #FFF; 
	color: @red-color;
	}
}

a.btn-utility, .ui-dialog .ui-dialog-content .dialog-buttons a.btn-utility{
	.button;
	/*border: 2px solid #cecece;
	.gradient(@white, @lightgray);*/
	background: @default-heading-color; /*NE Branding*/
	color: #FFF;
	text-shadow: none;
	font-size: 1.8em;
	font-weight: bold;
	&:hover{
		/*.gradient(@lightgray, @white);*/
		background: @default-heading-color; /*NE Branding*/
		color: #FFF;
	}	
}

.btn-small {
	.button;
	float:none;
	.gradient(#454545, #262626);
  padding: 4px 10px;
  font-size: @baseFontSize;
  line-height: normal;
  color:@white;
  
  	&:hover{
	.gradient((lighten(#454545, 10%)), #454545);	
	}
}

.btn-inline {
  display: inline-block;
  padding: 4px 10px 4px;
  margin-bottom: 0; // For input.btn
  font-size: 12px;
  line-height: @baseLineHeight;
  color: @text_color;
  text-align: center;
  vertical-align: middle;
  .gradient (@white, @gray);
  border: 1px solid @border;
  .rounded_corners(4px);
  cursor: pointer;
  
 	 &:hover {
 	 color: @linkColorHover;
  	text-decoration: none;
 	.gradient((darken(@white, 5%)), #eee);
  	@shadow: inset 0 1px 1px rgba(0,2,2,.1);
	.box_shadow(@shadow);
	}
	
	&.customer-service {
		padding-right: 25px;
		
		.sf-sub-indicator{
			margin-top: -1px;
		}
	}
	
	&.messages{
		width: 95px;
		position: relative;
		padding-left:20px;
		
		.messageIndicator{
			position: absolute;
			left: 4px;
			top: 4px;
			padding: 0px 6px;
			color: @white;
			font-weight: bold;
			background: #5085F0;
			.rounded_corners(99px);
			
			  	@shadow: inset 0 1px 9px rgba(255,255,255,.6), inset 0 1px 1px rgba(0,0,0,.4);
	.box_shadow(@shadow);
		}
	}
}

.btn-actions {
	
		@shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
		.box_shadow(@shadow);
		.rounded_corners(5px);
		  border: 1px solid @border;
		    font-size: 11px;
  line-height: @baseLineHeight;
  color: @text_color;

		&.add {
		padding: 4px 10px 4px 30px;
		background: url("../img/add.png") no-repeat 8px 5px #f2f2f2;
		float:right;
	
		
				 &:hover {
				color:@linkColor;
  				@shadow: inset 2px 2px 4px rgba(0,2,2,.1);
				.box_shadow(@shadow);
				border: 1px solid lighten(@green, 30%);
				}
		
		}
		&.remove {
		padding: 4px 10px 4px 30px;
		background: url("../img/delete.png") no-repeat 8px 5px;
		float:right;
		
		 &:hover {
		color:@linkColor;
  		@shadow: inset 2px 2px 4px rgba(0,2,2,.1);
		.box_shadow(@shadow);
		border: 1px solid lighten(@red, 30%);
		}
	}

}
	
.button, .btn_primary, .btn-utility{
	&.disabled-button{
		background: #E3E3E3;
		color: #acacac;
		text-shadow: none;
		border: 2px solid #CCCCCC;
		cursor: default;

		&:hover{
			background: #E3E3E3;
			color: #acacac;
			text-shadow: none;
			border: 2px solid #CCCCCC;
			cursor: default;
		}
	}
	/* End disabled-button */
}

.ui-dialog .ui-dialog-buttonpane button.btn_primary, .ui-dialog .ui-dialog-buttonpane button.button{
	float: right;
	padding: 0.25em;
	font-size: 0.8em;
}

.btn_getstarted{
	.btn_primary;
	/*NE Branding*/
	background: @home-red-color;
	.headerFont; /*NE Branding*/
	color: #FFF;
	border: 0px;
	/*NE Branding*/
	font-size: 24px;
	margin: 10px 83px;
	padding: 6px 19px;
	text-align: center;
	text-transform: uppercase;
	height: auto;
	float: left;
	/*NE Branding*/
	&:hover{
		background: @home-red-color; /*NE Branding*/
	}
}

.btn-utility.customize-button{
	margin-left: 3%;
}

.btn-utility.add-dependent-button{
	margin-left: 3%;
}

.btn-utility.exchange-btn{
	float: none;
	display: inline-block;
}

.cart-button{
	.gradient(@cart-button-startgrad, @cart-button-endgrad);
	.rounded_corners(@cart-button-corners);
	width: @cart-button-width;
	padding: @cart-button-padding;
	border: @cart-button-border;
	margin-top: 15px;
	float: right;
	cursor: pointer;

	&:hover{
		.gradient(@cart-button-endgrad, @cart-button-startgrad);
	}
	
	&.active{
		.gradient(@cart-button-startgrad, @cart-button-endgrad);
	}
	
	.cart-icon{
		float: left;
	}
	
	.cart-number{
		font-size: @cart-number-size;
		font-weight: @cart-number-weight;
		color: @cart-number-color;
		position: relative;
		left: -28%;
		top: 3px;
	}
	
	.button-title{
		font-size: @cart-title-size;
		font-weight: @cart-title-weight;
		float: right;
		margin-top: -12px;
	}
}
/* End cart-button */