div#decide-component.cart-section {
	background: #FFF;padding:20px; /*NE Branding*/
    .content-header {
        background: none;
        border: none;
        padding: none;
        height: none;
        
        .content-title {
            font-size: 36px; /*NE Branding*/
            padding: 0px 0px 20px 0px;
            margin: 0px 0px 0px 0px;
            float: none;
            .text_shadow (0px, 0px, 0px, #FFFFFF);
            font-weight: 500;
            width: auto;
			.headerFont; /*NE Branding*/
        }
        .content-navigation {
            font-size: 16px;
            color: #707070;
        }
    }


    ._componentContent {

        .heading {
            font-size: 18px; /*NE Branding*/
            color: @default-heading-color; /*NE Branding*/
			.headerFont; /*NE Branding*/
            padding: 0px 0px 3px 0px;
            line-height: 40px;
            float: none;
            width: auto;
            margin: 0px 0px 0px 8px; /*NE Branding*/
        }
		/*NE Branding*/
		.dark-heading{
			color: #375379;
			padding: 0px 0px 3px 0px;
            line-height: 40px;
			.headerFont;
			margin: 0px 0px 0px 8px;
			font-size: 30px;
		}
		.ins-text{
			color: #7f7f7f;
			font-size: 14px;
			padding: 0px 0px 3px 0px;
            line-height: 40px;
			margin: 0px 0px 0px 8px;
		}
		/*NE Branding*/
        .instructions {
            font-size: 13px;
            color: #707070;
            margin: 0px 0px 20px 0px;
            float: none;
            width: auto;
        }


        div.selected-products {
            .benefit-section {
                min-height: 0px;
                margin: 10px 0px 10px 0px;
				.rounded_corners(0px);
                .content-tools {
                    .rounded_corners(0px);
                    margin: 0px;
                    background: @cart-default-product-bg;
                     /*Changes for SHSBCBSNE-18*/
                    /*border-bottom: 1px solid #bfbfbf;*/
                    float: left;

                    &.Medical {
                        background: @top-bar-bg; /*NE Branding*/
                    }
                    &.Dental {
                        background: @top-bar-bg; /*NE Branding#SHSBCBSNE-22*/
                    }
                    &.Life {
                        background: @cart-life-bg;
                    }
                    &.Vision {
                        background: @cart-vision-bg;
                    }

                    .content-toolbar {
                        width: 98%;
                        height: auto;
                        padding: 5px 0px 5px 10px;
                        border-bottom: none;
                        float: left;
                        background: none;

                        .plan-name {
                            color: #FFFFFF;
                            font-size: 22px; /*NE Branding*/
                            font-weight: bold; /*NE Branding*/
                            line-height: 30px;
                            margin: 0px 0px 0px 0px;
                            padding: 0px 0px 0px 0px;
                            float: left;
                        }
                        .category {
                            color: #FFFFFF;
                            font-size: 20px;
                            font-weight: 900;
                            line-height: 30px;
                            margin: 0px 0px 0px 0px;
                            padding: 0px 0px 0px 0px;
                            font-style: italic;
                            font-weight: 100;
                            float: right;
                        }
                    }
                }

                .section-buttons {
                    width: 100%;
                    float: left;
                    margin: 0px 0px 0px 0px;
                    padding: 5px 0px 5px 0px;
                    position: static;
                    background: #f1f1f1;
                    border-top: 1px solid #d5d5d5;

                    .total-cost {
                        padding: 0px 10px 0px 0px;
                        line-height: 40px;
                        font-size: 18px;
                        float: right;

                        span {
                            margin: 0px 0px 0px 10px;
                            color: @benefit-section-value-color; /*NE Branding*/
                            font-weight: 900;
                            font-size: 24px;
                        }
                    }
                }
				
				
            }
			/*NE Branding - US - 22*/
			.full-section, .selected-riders{
				.plan-card{
					margin: 10px 1% 10px 8px;
					width: 19%;
					.product-line{
						font-size: 1.6em;
					}
					.plan-name, .plan-title{
						color: #666; 
						font-size: 16px; 
						margin:  5px 0 0 0;
						min-height: 45px;
						padding: 0;
						.headerFont;
						text-align: center;
					}
					.plan-rate{
						text-align: center;
						.benefits{
							color: #2a7bbf;
							font-size:12px;
							text-decoration: underline;
						}
						
					&.selected-plan-rate{
							font-size: 16px;
							font-weight: bold;
							height: 70px !important;
						}
					}
					
					.dialog-buttons{
						text-align: center;
						 margin: 14px auto;
						a.btn-utility{
							float: none;
							margin: 0px;
						}
					}
					.rate{
						font-size: 30px; 
						font-weight: normal;
					}
					.rate-term{
						 vertical-align: super; 
						 font-size: 14px;
						 text-transform: lowercase;
					}
				}
			}
			/*NE Branding - US - 22*/
            .cart-total {
                margin: 20px 0px 0px 0px;
                border: none;

                .content-toolbar {
                    border: none;
                    background: none;
					border-top: 5px solid #DEDEDE; /*NE Branding*/
					.rounded_corners(0px); /*NE Branding*/

                    .rate div {
                        display: inline-block;
                        min-width: 140px;
                        text-align: right;
                        color: @benefit-section-value-color; /*NE Branding*/
                    }
                }

            }
            .section-buttons {
                background: none;
                border-top: 5px @maingreybg solid;
                padding: 0px 0px 0px 0px;
                margin: 0px 0px 0px 0px;
                width: 100%;

                .btn_primary {
                    margin: 5px;
                }
            }
        }
    }
}
/*NE Branding : US:: 434*/
div#add-quote-section{
	clear: both;
	float: left;
	width: 95.7%;
	background: #FFF;
	padding:20px; 
	.heading {
		font-size: 18px; 
		color: @default-heading-color; 
		.headerFont; 
		padding: 0px 0px 3px 0px;
		line-height: 40px;
		float: none;
		width: auto;
		margin: 0px 0px 0px 8px; 
	}
	.dark-heading{
		color: #375379;
		padding: 0px 0px 3px 0px;
		line-height: 40px;
		.headerFont;
		margin: 0px 0px 0px 8px;
		font-size: 30px;
	}
	.ins-text{
		color: #7f7f7f;
		font-size: 14px;
		padding: 0px 0px 3px 0px;
		line-height: 40px;
		margin: 0px 0px 0px 8px;
	}

	.instructions {
		font-size: 13px;
		color: #707070;
		margin: 0px 0px 20px 0px;
		float: none;
		width: auto;
	}
	.benefit-section {
		min-height: 0px;
		margin: 10px 0px 10px 0px;
		.rounded_corners(0px);
		
		.content-tools {
			.rounded_corners(0px);
			margin: 0px;
			background: @top-bar-bg;
			float: left;
			width: 100%;

			&.Medical {
				background: @top-bar-bg; 
			}
			&.Dental {
				background: @cart-dental-bg;
			}
			&.Life {
				background: @cart-life-bg;
			}
			&.Vision {
				background: @cart-vision-bg;
			}

			.content-toolbar {
				width: 99%;
				height: auto;
				padding: 5px 0px 5px 10px;
				border-bottom: none;
				float: left;
				background: none;

				.plan-name {
					color: #FFFFFF;
					font-size: 22px; /*NE Branding*/
					font-weight: bold; /*NE Branding*/
					line-height: 30px;
					margin: 0px 0px 0px 0px;
					padding: 0px 0px 0px 0px;
					float: left;
				}
				.category {
					color: #FFFFFF;
					font-size: 20px;
					font-weight: 900;
					line-height: 30px;
					margin: 0px 0px 0px 0px;
					padding: 0px 0px 0px 0px;
					font-style: italic;
					font-weight: 100;
					float: right;
				}
			}
		}

		.section-buttons {
		width: 100%;
		float: left;
		margin: 0px 0px 0px 0px;
		padding: 5px 0px 5px 0px;
		position: static;
		background: #f1f1f1;
		border-top: 1px solid #d5d5d5;

		.total-cost {
		padding: 0px 10px 0px 0px;
		line-height: 40px;
		font-size: 18px;
		float: right;

		span {
		margin: 0px 0px 0px 10px;
		color: @benefit-section-value-color; /*NE Branding*/
		font-weight: 900;
		font-size: 24px;
		}
		}
		}
	}	

	.full-section, .selected-riders{
		.plan-card{
			margin: 10px 1% 10px 8px;
			width: 19%;
				.product-line{
					font-size: 1.6em;
				}
				.plan-name, .plan-title{
					color: #666; 
					font-size: 16px; 
					margin:  5px 0 0 0;
					min-height: 45px;
					padding: 0;
					.headerFont;
					text-align: center;
				}
				.plan-rate{
					text-align: center;
					.benefits{
						color: #2a7bbf;
						font-size:12px;
						text-decoration: underline;
					}
					&.selected-plan-rate{
					font-size: 16px;
					font-weight: bold;
					height: 70px !important;
					}
				}

				.dialog-buttons{
				text-align: center;
				margin: 14px auto;
					a.btn-utility{
						float: none;
						margin: 0px;
					}
				}
				.rate{
					font-size: 30px; 
					font-weight: normal;
				}
				.rate-term{
					vertical-align: super; 
					font-size: 14px;
					text-transform: lowercase;
				}
		}
	}
	
	.cart-total {
		margin: 20px 0px 0px 0px;
		border: none;
		.content-toolbar {
			border: none;
			background: none;
			border-top: 5px solid #DEDEDE; 
			.rounded_corners(0px);
			.rate div {
				display: inline-block;
				min-width: 140px;
				text-align: right;
				color: @benefit-section-value-color; 
			}
		}
	}
	.section-buttons {
		background: none;
		border-top: 5px @maingreybg solid;
		padding: 0px 0px 0px 0px;
		margin: 0px 0px 0px 0px;
		width: 100%;
		.btn_primary {
			margin: 5px;
		}
	}
}
/*NE Branding : US:: 434*/
