/* ----- Footer ----- */
.footer {
    margin: 0px;
    clear: both;
    width: 100%; 
	/*NE Branding*/
   /* border-top: 5px @maingreybg solid;
    background: #EFEFEF;
    float: left;*/
	.footer-text{
		width:960px;
		margin:10px auto;
		font-size: 0.8em;
		color:#c4c3c4;
        text-align: center; /*NE*/
	}
	/*NE Branding*/
    .element {
        color: #7C7C7C;
        width: 100%;
        height: 40px;
        background: @maingreybg;
        line-height: 3em;
        margin: 0px 0px 5px 0px;
        .rounded_corners(10px);

        img {
            float: left;
            margin: 8px 10px 0px 10px;
        }
    }

    .glossary {
        margin: 50px 0px 0px 0px;
        font-size: 1.5em;
        input {
            width: 100%;
        }
    }

    .footerContent {
        margin: 20px auto 0px;
        width: 960px;

        .leftSection {
            width: 250px;
            float: left;
            clear: left;

            span {
                background: @maingreybg;
            }
        }

        .rightSection {
            width: 675px;
            float: right;
            clear: right;
            margin: 20px 0px 0px 0px;

            &.border {
                border-bottom: 1px #444444 solid;
            }

            img {
                float: left;
                margin: -20px 10px 0px 0px;
            }

            span {
                color: #9EB650;
                font-weight: 900;
            }
        }

        .section {
            padding: 0px 0px 50px 0px;

            a {
                line-height: 24px;
                color: @default-heading-color; /*NE Branding*/
            }

            span {
                font-size: 1.5em;
                color: #7C7C7C;
            }

            &.left {
                float: left;
                clear: left;
            }

            &.right {
                float: right;
                clear: right;
            }

            &.middle {
                padding: 0px 250px 0px 250px;
            }
        }
    }
}