.data-section{
	.account-form{
		float: left;
		width: 100%;
		padding-bottom: 10px;
		margin-bottom: 15px;
		border-bottom: 1px solid #dedede;
		
		.instructions{
			/* width: auto; */ /*NE Branding*/
			width: 60%; /*NE Branding*/
			max-width: 77%;
		}
		
		.dataGroup{
			clear: none;
			float: left;
			margin-left: 10%;
			
			label{
				width: auto;
			}
			
			.read-only{
				width: auto;
			}
		}
		/* End dataGroup */
	}
	/* End account-form */
	
	ul{
		li{
			//padding-left: 15%;
			padding-top: 3px;
			padding-bottom: 3px;
		}
	}
}
/* End data-section */

.hasErrors{
	label{
		color: @errorcolor;
	}
	input, input[type="text"], input[type="password"], input[type="button"], input[type="submit"], select{
		border-color: @errorcolor;
		background-image:none;
		filter: none;
		ms-filter: none;
		background: @errorbgcolor;
			
		&:focus{
			.box_shadow(0px, 0px, 5px, #EF720E);
			color:#000;
		}
	}
	select {			
		&:focus{
			.box_shadow(0px, 0px, 5px, #EF720E);
			border: 1px solid #EF720E;
			color:#000;
		}
	}
	.fieldError{
		margin-left: (@labelmargin + 2%);
		margin-top: 3px;
		margin-bottom: 5px;
		color: @errorcolor;
		display:block;
		clear:both;
	}
}
/* End hasErrors */

//Remove border/shadow in IE
input[type="radio"], input[type="checkbox"]{
	border: none;
	.box_shadow(none);
}

/* ----- Textbox ----- */
select, input[type="text"], input[type="password"] {
    .rounded_corners(5px);
    border: #cdcdcd 1px solid;
    color: #000000;
    height: 35px;
}
select {
    /*padding: 0px 0px 0px 0px;*/
	padding: 8px 5px; /*NE Branding*/
}
input[type="text"], input[type="password"] {
    padding: 0px 4px 0px 4px;
}