.appContainer .data-section .content-hanger{
	background: #81AA2A;
	box-shadow: none;
}

.appContainer .data-section.welcome-section .plan-card ul.match-list{
	background: #F2F8E4;
}

.mega-menu .mega-menu-flyout{
	/*left: -415px !important;*/
}

.btn_primary, .ui-dialog .ui-dialog-buttonpane button.btn_primary, .btn_secondry, a.btn-utility, .ui-dialog .ui-dialog-content .dialog-buttons a.btn-utility, .btn-inline{
	padding:5px 15px !important;
} /*NE Branding*/
.data-section .dataGroup.demographics-right .btn_secondry{
	margin-left: 30px !important;/*NE Branding*/
}
.linear-nav-bar .btn-inline{padding-top:10px !important; padding-bottom:0px !important;} /*NE Branding*/

.ui-dialog .ui-dialog-content .full-section .dialog-buttons a.btn_primary, .ui-dialog .ui-dialog-content .half-section .dialog-buttons a.btn_primary, .ui-dialog .ui-dialog-content .full-section .dialog-buttons a.btn_primary:hover, .ui-dialog .ui-dialog-content .half-section .dialog-buttons a.btn_primary:hover, .ui-dialog .ui-dialog-content .full-section .dialog-buttons a.button, .ui-dialog .ui-dialog-content .half-section .dialog-buttons a.button{
	font-size:1.1em !important;/*NE Branding*/
}
.btn_getstarted{margin-left:58px !important;}
.appContainer .home-bgpatch .data-section .heading{line-height: 100% !important;}
.data-section .dataGroup.demographics-right.wider{width: 35% !important;}

.appContainer .home-bgpatch .data-section .heading{
	font-size: 1.8em !important;
}
.appContainer .home-bgpatch .data-section .home-need-coverage{
	font-size: 16px !important;
	padding: 5px 0px !important; 
	margin-left: 680px !important; 
}

.appContainer .home-bgpatch .data-section .home-need-coverage a{ 
	padding: 5px 0 0px 20px !important;
}
.appContainer .home-bgpatch .data-section.border-top .half-section.product-shop .product-name ul li a{
	width: 160px !important;
}
.data-section .content-section .subsidy .subsidy-branch.subsidy-ffm .heading{
	font-size: 2.4em !important;
}
.data-section .content-section .subsidy .subsidy-branch.subsidy-ffm .subsidy-section .third-section p .btn_primary{
	font-size: 1.5em !important;
	margin-left: 0px !important;
}
.data-section .content-section .subsidy .subsidy-branch.subsidy-ffm .subsidy-section .third-section p .btn_taxcredit{
	padding:5px !important;
}
.data-section.general-section .days-left .subheading{
	margin-left: 10px !important;
}
.data-section .content-sidebar .dataGroup .checkBoxFields .checkBox-option-div label.checkBox-choice-label{
	width: 80% !important;
	margin-top: 3px !important;
}
.data-section .content-wrapper .plan-wrap .content-sidebar .heading.title{
	font-size: 19px !important;
}
.plan-card .plan-select-broker.all-plans{
	font-size: 11px !important;
	width: 45% !important;
	padding-right: 5px !important;
	padding-left: 5px !important;
}
.plan-card .quote-button.all-plans{
	font-size: 11px !important;
	width: 45% !important;
	padding-right: 5px !important;
	padding-left: 5px !important;
}
.data-section .content-section .account-form{
	padding: 0 0 7% 0 !important; /*NE Branding issue#SHSBCBSNE-839 */
}