p{
	font-size: 1.3em;
	line-height: 150%;
	padding-bottom: 2%;
}

body a{
	text-decoration: none; /*NE Branding*/
}

.logo{
	/*width: @logo-width;*/ /*NE Branding*/
	float: left;
	margin-top: 9px;

	img{
		position: static;
	}
}
.headerCenter {
    width: @header-width;
    margin: @header-margin;
    padding: @header-padding;

    .header{
        .clearfix;
        .standardfont;
        width: @header-width;
        /*background: @header-bg;*/ /*NE Branding*/
        font-size:80%;
        /*border-bottom: 1px solid #bbb;*/ /*NE Branding*/
        float: left;
        margin-bottom: 20px;
        //Fix for underline issue on shopping welcome page
        margin-top: -1px;

        .logo{
			margin-top: 15px; /*NE Branding*/
        }

        .third-section{
            border: none;
            margin: 0;
            width: 31%;
        }
		.two-third-section {
			border: none;
			float: right;
			margin: 0;
			width: 68%;
		}

        .employerName{
            text-align: center;
            width: auto;
            float: left;
            margin-top: 20px;
            font-weight: bold;
            font-size: 20pt;
        }
        /* End employerName */

        .header-actions{
            width: @header-actions-width;
            margin: @header-actions-margin;
            float: right;
            border: none;

            a{
                color: @header-link-color;
            }

            .action{
                width: auto;
                float: right;
                text-align: right;
                margin-left: 10%;

                .action-icon{
                    cursor: pointer;
                    height: 26px;
                }
            }
            /* End action */
        }
        /* End header-actions */
    }
}
/* End header */

.footer{
	width: @footer-width;
	margin-left: @footer-margin;
	border: none;
	z-index: 1999;
	left: 50%;

	&.sticky{
		position: fixed;
		bottom: 0px;
	}

	.data-section{
		.rounded_corners(0px);
		margin: 0px;
		height: 55px;
		border: none;
		font-size: 0.8em;

		.content-header{
			@shadow: 0px -2px 8px rgba(0, 0, 0, 0.5);
			.box_shadow(@shadow);
			.rounded_corners(8px 8px 0 0);
			.gradient(@nav-action-active-bgstart, @nav-action-active-bgend);
			border-left: none;
			border-right: none;
			border-bottom: none;
			margin: 10px;

			.inline-actions{
				width: 80%;
				margin-top: 0px;

				.inline-button{
					margin-left: 2%;

					&.cart{
						margin-right: 15px;
					}
				}

				.cart-button{
					width: 100%;
					margin-top: -3px;
					padding: 0.6em 0.1em;
					//background: darken(#366C88, 15%);
			 		border: none;

					.button-title{
						margin-right: 3px;
						margin-top: 9px;
					}

					.cart-number{
						left: -20px;
					}

					.shop-icon-cart{
						background-position: -35px -164px;
						width: 45px;
					}
				}
				/* End cart-button */
			}
			/* End inline-actions */
		}
		/* End content-header */

		&.active{
			.standardborder;
			.box_shadow(@appContainer-shadow);
			.rounded_corners(8px 8px 0px 0px);
			height: 550px;
			overflow-y: auto;
			background: @cart-bg;
		}
	}
	/* End data-section */
}
/* End footer */

.appContainer{
	.clearfix;
	.standardfont;
	.box_shadow(@appContainer-shadow);
	border: none;
	font-family: @defaultFontFamily;
	width: @appContainer-width;
	//min-height: @appContainer-min-height;
	margin: @appContainer-margin;
	padding: @appContainer-padding; /*NE Branding*/
	/*background: @appContainer-bg;*/ /*NE Branding*/
	font-size:80%;
	float: none;
	padding:0px; /*NE Branding*/
    .heading {
	    color: @page-title-color;
	    .headerFont;
	}
	/*NE Branding*/
	.home-bgpatch{
		background: none repeat scroll 0 0 #FFF;
		display: inline-block;
		/*padding: 0px 20px 20px 20px;*/
		bottom:21px;
		position: relative;
		.logo{
			position: absolute;
			z-index: 999; /*NE Branding*/
			float:none;
			margin: 30px 0 0 30px;
		}
		.data-section.general-section{
			margin-top:0px;
			border-bottom: none;
			.days-left{
				width:33.5%;
				.headerFont; /*NE Branding*/
			}
			.welcome-heading{
				margin: 104px 10px 15px 42px;
				text-align: left;
				font-size: 2.5em;
				line-height: 120%;
				color: @home-red-color;
			}
		}
		.data-section{
			margin-top:30px;
			.home-need-coverage{
				font-size:20px;
				text-align:right;
				margin-top:5px;
				background: url("../images/2013-coverage-play-icon.png") 0px 6px no-repeat;
				.headerFont;
				margin: -90px 0 0 675px;
				position: absolute;
				z-index: 9999;
				a{
					color: #FFF;
					padding-left: 23px;
				}
			}
			
			.heading{
				line-height: 120%;
				width: auto;
				font-size: 27px;
				.headerFont;
				color: @breakdown-rate-color;
			}
			ul{
				font-size: 13px;
				.headerFont;
				font-wieght: bold;
				color: #1E1E1E;
			}
		}
		.data-section.border-top{
			 border-top: none;
			 background: #E5F2FA;
			 .half-section{
			 &.video-section{
				width: 45%;
				.heading{
					margin-bottom: 10px;
				}
			 }
			 &.product-shop{
				width:30%;
				.heading{
					margin-top:25px;
					width:auto;
				}
				.product-name{
					clear: both;
					ul{
						margin-left:0;
						list-style:none;
						li{
						/*NE Branding*/
							a{
								background: #005273;
								.rounded_corners(3px);
								color: #FFFFFF;
								display:block;
								font-size: 20px;
								.headerFont;
								padding: 6px 19px;
								text-align: center;
								text-decoration: none;
								text-transform: uppercase;
								width: 190px;
							}
						/*NE Branding*/		
						}
					}
				}
				
			 }
				margin:30px 50px;
				.sub-heading{
					color: #005273;
					font-size: 16px;
					.headerFont;
				}
				.heading{
					color: #005273;
				}
			 }
		}
	}
	/*NE Branding*/
} /*  End .appContainer */
#appProgBar, #appProgBarFake{
		/*width: @progbar-width;
		margin: @progbar-margin;
		position: static;*//*NE Branding*/
		float: right;
			ul, ol{
			    .clearfix;
			    .rounded_corners(@progbar-ul-corners);
				.box_shadow(@progbar-ul-shadow);
		        height: @progbar-ul-height;
				padding: @progbar-ul-padding;
				background: @progbar-ul-bg;
				position: relative;
		        width: auto;
				border: none;
				box-shadow: none;

					.navHeader{
						float: left;
						margin-top: -18px;
					}

					.progBarList{
					    height: @progbar-li-height;
						width: @progbar-li-width;
						padding: @progbar-li-padding;
					    font-size: @progbar-li-size;
						background: @indicator-off-state;
						line-height: 38px;
				        display: inline;
				        text-align: center;
						float: left;

						&.active{
							font-weight: bold;
						}

						&:first-child {
							border-radius: 4px 0 0 4px;
						}

						&:last-child{
							a{
								border-right: none;
							}
						}

					    a, span {
							color: @indicator-off-link;
							float: left;
							padding: 0;
							height: 30px;
							border-right: none;
							width: 100%;

							&:hover{
								text-decoration:none;
								color: @indicator-off-link;
							}

						} // end a, span

					  	&.complete{
					      	padding-left: 0;
					      	a {
								font-weight: bold;
								color: @progBarTextColor;
							}/*End a*/
					  	}/*End complete*/
					}
					/* End progBarList */

				&.progress-bar{
					background: @progress-bar-bg;
					padding: @progress-bar-padding;
					height: @progress-bar-height;
					float: left;
					width: 100%;

					li{
						width: @progress-bar-li-width;
						height: @progress-bar-li-height;
						float:left;
						margin-right:1px;

						&:first-child{
							.rounded_corners(4px 0 0 4px);
							text-align: left;
						}

						&:last-child{
							.rounded_corners(0 4px 4px 0);
							margin-right: 0;
							text-align: right;
						}

						a, span {
							margin-top:10px;
						}

						&.complete{
							.gradient(@electricBlue, darken(@electricBlue, 10%));
							height: 12px;
						}
					}
				}
				/* End progress-bar */
		    }/*End ul*/

		 &.hideProgBar
		 {
			display:none;
		 }

	}/*  End appProgBar */
#tHeader {
	   width: 99.9%;
	   height: @topbar-height;
	   .clearfix;
	   /*.gradient(@topbar-start, @topbar-end);*/
	   background: @top-bar-bg; /*NE Branding*/
	   position: absolute;
	   top: 0;
	   @shadow: 0 0 0 rgba(0,0,0,0);
	   .box_shadow(@shadow);
	   border-bottom: none; /*NE Branding*/
	   z-index: 1999;	   
		/*NE Branding*/ 
			.callus{
				.headerFont;
				color:white;
				max-width:160px;
				text-decoration:none;
				white-space:nowrap;
				top:14px;
				position:relative;
				font-size: 14px;
				margin-left: 14px;
			} 
		/*NE Branding*/
	   .admin-links {
	 width: 960px;
	  margin: 0 auto;

     	 .welcome {
	     font-size: 1.3em;
		 color: @white;
		 float:left;
		 width: 40%;
		 margin-top:4px;
	  }

	  .welcomeText{
			.headerFont; /*NE Branding*/
	  		clear: both;
  			overflow: hidden;
	   		margin: 12px 20px 0 10px; /*NE Branding*/
	   		float:left;
	   	    display: inline-block;
			white-space: nowrap;
	    	width: auto; /*NE Branding*/
	    	font-size: 14px; /*NE Branding*/

		 	.userText{
		 		clear: both;
  				overflow: hidden;
		 		display: inline-block;
				white-space: nowrap;
		 		font-size: 1em;
		 		color: @white;
		 		float:left;
		 		width: auto;
		 		padding-bottom: 16px;
		 		min-width: 135px;

		 		.dropdown-arrow{
		 			margin-top: 7px;
					margin-left: 2px;
					vertical-align: top;
		 		}
		 	}
			
			a {
		       color: @white;
					
			     &:hover {
				    color: #F2F2F2;
				 }
		       &.login, &.logout, &.exit-link {
			      font-weight: bold;
				  text-decoration: underline; /*NE Branding*/
			   }

			   &.exit-link{
			   	  margin-left: 20px;
			   }
			}
		 	select{
		 		margin-top: -3px;
		 		max-width: 40%;
		 	}

		 	.acct-dropdown{
	    		.clearfix;
	    		.rounded_corners(0px 0px 5px 5px);
	    		float: left;
	    		margin-top: -1px;
	    		height: 0px;
	    		opacity: 0;
				filter:alpha(opacity=0);   /* NE Branding */
	    		-webkit-transition: all 0.3s ease-in;
				-moz-transition: all 0.3s ease-in;
				-o-transition: all 0.3s ease-in;
				transition: all 0.3s ease-in;
				/*NE Branding*/
				margin-left: -1px; 
				position: absolute;
				top: 32px;
				width: 8%;
				z-index: 9999;
				/*NE Branding*/

	    		.dropdown-option{
	    			a{
	    				padding: 8px 5% 8px 5%;
	    				color: #444444;
	    				width: 90%;
	    				margin: 0px;
	    				text-decoration: none;
	    				background: #DEDEDE;
	    				border-top: 1px solid @topbar-end;
	    				float: left;
	    				font-size: 0.8em;
	    				-webkit-transition: none;
						-moz-transition: none;
						-o-transition: none;
						transition: none;

	    				&:hover{
	    					text-decoration: none;
	    					background: #e6f1fd;
	    				}

	    				&.logout{
	    					font-weight: normal;
	    				}
	    			}
	    		}
	    	}
	    	/* End acct-dropdown */

	    	&:hover{
	    		.acct-dropdown{
	    			height: 134px;
	    			opacity: 1;
					filter:alpha(opacity=100);   /* NE Branding */
	    		}
	    	}
	  }
	  /* End welcomeText */

	  .links {
	   margin: 0;
	   float: right;
       height: 45px;
       position:relative;
	   
	   a {
	       color: #fff;
		   float: left;
		   height: 45px;
		   width: 50px; /*NE Branding*/
		   overflow: hidden;

		   &.broker-link{
		   	max-width: none;
		   	text-indent: 15px;
		   	margin-top: 10px;
		   	height: auto;

		   	&:hover{
		   		color: #34a2da;
		   	}
		   }
		    &.call {
			  background: #13658c; /*NE Branding*/
			  .shop-icon-call{
			  	margin: 6px;  /*NE Branding*/
			  
			  }
			}
		    &.messages {
			  background: #419aa2;
			  .shop-icon-messages{
			      margin-top: 10px;
			  }
			}
		    &.live-chat, &.chat {
			  background: #1376a1; /*NE Branding*/
			  .shop-icon-chat{
			  	margin: 6px; /*NE Branding*/
			  }
			}
		    &.help {
			  /*background: @electricBlue ;*/
			  background: @content-section-bg; /*NE Branding*/
			  .shop-icon-help{
			      margin: 7px; /*NE Branding*/
			  }
			}
		    &.cart {
			   background: #1898ce; /*NE Branding*/
			   font-size: 14px; /*NE Branding*/
			   line-height: 3.5;
			   max-width: none;
			   width: 105px;
			   font-weight: normal;
			   text-decoration: none;

			   .shop-icon-cart{
			      margin-top: 0;
			  }
			}

            &.quote-receipt {
                background: #c84;
                width: 45px;
            }
		}

		[class*="shop-icon-"] {
		    margin: 12px 0 0 6px;
		}

		.quote-dropdown{
			.rounded_corners(0px 0px 5px 5px);
			.gradient(@quote-dropdown-start, @quote-dropdown-end);
			.persistent-profile-transition;
			color: @standard-font-color;
			font-family: OpenSansRegular, Arial, Helvetica, sans-serif;
			border: 1px solid @border_color;
			width: 325px;
			padding: 5px 10px;
			position: absolute;
			top: 46px;
			left: -61px;
			border-top: none;
			height: 0px;
			opacity: 0;
			overflow: hidden;
			filter:alpha(opacity=0); /*NE Branding*/

			.quote-toggle{
				position: absolute;
				right: -20px;
				top : 0px;
				
				a {
                    color:#888;
                    font-size: 1.5em;
                    text-decoration: none;
                }
			}

			.heading{
				font-size: 1.2em;
				font-weight: bold;
				margin-bottom: 5px;
			}

			.quote-details{
				.rounded_corners(0px 0px 5px 5px);
				background: @quote-details-bg;
				float: left;
				width: 100%;
				height : 235px;
				overflow-y : scroll;

				.quote-count{
					margin: 10px 2% 0px 0%;
				}
			}
			/* End quote-details */

			.quote-buttons{
				.clearfix;
				float: left;
				width: 96%;
				margin: 0px 0px 0px 2%;
				border-top: 1px solid #CCCCCC;

				.btn_primary{
					width: auto;
					height : auto;
					margin-left: 0px;
					font-size: 1.1em;
					float: right;
					max-width: none;
				}
			}
			/* End quote-buttons */

			.quote-table{
				margin: 0px 2%;
				width: 96%;
                height: auto;
                overflow:scroll;

				thead, tbody{
					tr{
						th{
							background: @th-bg;
							color: @th-color;
						}

						.rate-cell{
							text-align: right;
							padding-right: 13px;
							font-weight:bold;
						}

						td{
							&.rate-cell{
								color: @rate-color;
								min-width: 100px;
							}
                        
                            &.remove-cell {
                              max-width : 16px;

                              .shop-icon-remove{
                              	margin-top: 0px;
                              }
                           }

                           &.no-plans{
                           		height: 40px;
								vertical-align: bottom;
								padding-left: 12px;
                           }
						}
					}
				}
			}
			/* End quote-table */
		}
		/* End quote-dropdown */
	 }
	 /* End links */

	  .spacer {
	    border-left: 1px solid #222;
		border-right: 1px solid #AAA;
		height: 1px;
	  }
	  }

	  .producer-info{
	  	float: right;
	  	height: 43px;
		max-width: 24%;
		padding: 2px 12px 0px 40px;
		background: @producer-info-bg url("../images/broker-icon.png") no-repeat 5px 7px;
		color: #FFFFFF;

		&:after, &:before{
			border-color: transparent;
		}

		div{
			margin-top: 3px;
		}

		.producer-name{
			font-weight: bold;
		}

		.producer-dropdown{
			.rounded_corners(0px 0px 5px 5px);
			.box_shadow(@mega-menu-flyout-shadow);
			height: 0px;
			opacity: 0;
			overflow: hidden;
			position: relative;
			top: 2px;
			left: -40px;
			width: 100%;
			color: @standard-font-color;
			padding: 2px 10px 5px 38px;
			background: @producer-dropdown-bg;
			border: 2px solid @producer-info-bg;
			border-top: none;
			.persistent-profile-transition;
		}

		&:hover{
			.producer-dropdown{
				height: 60px;
				opacity: 1;
			}
		}
	  }

	  	/*.producer-dropdown{
	  		.box_shadow(@producer-dropdown-shadow);
	  		.rounded_corners(10px);
	  		position: absolute;
	  		z-index: 1600;
	  		background: #FFF;
			width: 245px;
			padding: 10px 25px 10px 10px;
			top: 64px;
			left: 50%;
			border: solid 2px #dedede;

			div{
				margin: 2px 0px;
			}

			.producer-close{
				position: absolute;
				font-size: 1.4em;
				right: 6px;
				top: 4px;
				padding: 0px 5px;
				cursor: pointer;

				&:hover{
					.rounded_corners(4px);
					background: #e6f1fd;
					color: #e6aa46;
				}
			}

			.producer-name{
				font-weight: bold;
				font-size: 1.3em;
				margin-top: 0px;
				margin-bottom: 15px;
				color: #34a2da;
			}
	  	}*/
 }//end theader

.overlay{
	background: #000;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 1998;
	opacity: .4;
	top: 0;
	left: 0;
}

/* Need this for position bugs and for CSS transition bugs in FF */
._component{
	float: left;
	width: 100%;
}


#appProgBar{
	/* A Menu of the Mega Variety! */
	.mega-menu {
		/*min-height: 400px;*/
		height: auto;
		float: left;	    
		//clear: left;
		//width: 100%;
	/* Level 1 */	
		ul {
		//width: 900px;
		margin: 0;
		padding: 0;
		float: right;
		// NE Branding	SHSCEN-351
		li {
		position: relative;
		list-style: none;
		width: auto;
		height: 30px;
		float: left;
		margin: 18px 0px 0px 0px;
		width: auto;
		padding: 15px 10px 0px 10px;
		background: none;
		
		a {
		color: @default-heading-color; /*NE Branding*/
		display: inline-block;
		font-size: 1.4em;
		width: 100%;
		//opacity: 0.6;  /*NE Branding*/
		&.current {
			opacity: 1;
		    font-weight: bold;
			color: #34a2da;
		}
		&.visited{
			opacity: 1;
		}
		&:hover{
			color: #FFF;
			
			.mega-menu-arrow {		// NE Branding	SHSCEN-351
				background: url("../images/mega-menu-arrow.png") no-repeat left bottom;
			}	
		}	
		// NE Branding	SHSCEN-351

		.step{
			text-transform: uppercase;
			margin-right: 5px;
			color: lighten(@standard-font-color, 25%);
			font-weight: bold;
		}

		.mega-menu-arrow {
		   background: url("../images/mega-menu-arrow.png") no-repeat left top; // NE Branding	SHSCEN-351
		   float: right;
		   height: 6px;
		   margin: 8px 0 0 5px;
		   width: 10px;

		   &.emptyMenu{
		   	display: none;
		   }
		}
		}
	    &.currentProgBarList a {
		    font-weight: bold;
			color: #34a2da;
		}
		span {}
		ul {
		display:none;
		}
		}
		}
		}/*end mega-menu less*/
	/* Level 1 - Hover */
	.mega-menu ul li:hover {}
	.mega-menu ul li a:hover {}
	/* Level 1 - Selected */
	.mega-menu ul li.selected {}
	.mega-menu ul li.selected a {}

	/* Level 2 */
	.mega-menu ul li ul {
		display: none;
		position: absolute;
		left: 0;
		top: 30px;
		width: 600px;
		background: #eee;
		float: left;
		}
	.mega-menu ul li:hover ul {
		background: yellow;
		width: auto;
		}
	.mega-menu ul li:hover ul li ul {background: none;/*remove inherited backgrounds*/}
	.mega-menu ul li:hover ul {
		display: inline;
		position: absolute;
		left: 0;
		top: 30px;
		width: 960px;
	    background: #eee;
		float: left;
		}
	.mega-menu ul li ul li {
		display: none;
		float: left;
		width: 140px;
		background: #CCC;
		}
	.mega-menu ul li ul li.last {}
	.mega-menu ul li ul li a {}
	.mega-menu ul li ul li span {}
	/* Level 2 - Hover */
	.mega-menu ul li ul li:hover {}
	.mega-menu ul li ul li a:hover {}
	/* Level 2 - Selected */
	.mega-menu ul li ul li.selected {}
	.mega-menu ul li ul li.selected a {}

	/* Level 3 */
	.mega-menu ul li:hover ul li ul {
		display: inherit;
		float: none;
		background: none;
		}
	.mega-menu ul li:hover ul li ul li {
		float: none;
		clear:both!important;
		}
	.mega-menu ul li ul li ul li a {}
	.mega-menu ul li ul li ul li span {}
	/* Level 3 - Hover */
	.mega-menu ul li ul li ul li:hover {}
	.mega-menu ul li ul li ul li a:hover {}
	/* Level 3 - Selected */
	.mega-menu ul li ul li ul li.selected {}
	.mega-menu ul li ul li ul li.selected a {}


	.mega-menu{
		font-family: @defaultFontFamily;
		
		li:hover{
		// NE Branding	SHSCEN-351
			.mega-menu-flyout{
				display: block;
				z-index: 1900;
				height: 111px;
				opacity: 1;

				li{
					display: block;
				}
			}
		}

		ul{
			li{
				
				&:hover {		// NE Branding	SHSCEN-351
					background:#005273;
					color: #FFF;
				}				
				a{
					text-decoration: none;
				}
				
				ul.mega-menu-flyout{		// NE Branding	SHSCEN-351
					.rounded_corners(0px);
					//display: block; /*NE Branding*/
					background: #FFF;
					height: 0px;
					border: 9px solid #005273;
					width: 218px;
					left: 0px;
					top: 45px;
					overflow: hidden;
					opacity: 0;
					//filter:alpha(opacity=0); /*NE Branding*/
					padding:2px;
					.persistent-profile-transition;

					li.mega-menu-section{		// NE Branding	SHSCEN-351
						width: 210px;
						height: auto;
						margin: 0px;
						padding:0px;
						background: transparent;

						a{
							opacity: 1;
							filter:alpha(opacity=100); /*NE Branding*/
						}

						.heading{
							font-size: 1.6em;
							font-weight: bold;
							margin-left: 5px;
							color: @standard-font-color;
						}

						.subheading{		// NE Branding	SHSCEN-351
							font-size: 1.4em;
							color: @subheading-font-color;
							font-weight: bold;
							margin-bottom: 0px;
							border-bottom: 1px solid #D5D5D5;
							line-height: 37px;
							padding-left: 7px;
							&:hover{
								background: #d5d5d5;
							}
						}

						.instructions{
							margin: 15px 0px 0px 5px;
							font-size: 1.2em;
							max-width: 160px;
						}

						ul{
							display: none;
							position: static;
							float: none;
							background: transparent;
							margin-top: -20px;

							li{
								background: transparent;
								width: auto;
								position: static;
								margin: 0;
								height: auto;

								a{
									font-size: 1.2em;
									font-weight: bold;
									color: @instructions-font-color;

									&:hover{
										color: @linkColorHover;
									}
								}
							}
						}

						&.last, &:last-child{
							border-right: none;
						}
					}
				}
			}
		}
	}
	/* End mega-menu */
}
// NE Branding	SHSCEN-351
.instructions{
	font-family: 'OpenSansRegular', Arial, sans-serif;
}

/* For blockUI */
.actionindicator{
	background: url("../images/ajax-loader.gif") no-repeat 50% 30%;
	float: left;
	width: 100%;
	text-align: center;
	
	.message{
		float: left;
		font-size: 1.6em;
		font-weight: bold;
		margin-top: 55px;
		margin-left: 25%;
		margin-bottom: 10px;
		width: 50%;
		text-align: center;
		clear: both;
	}
}