/* This comment is a test to the merge process */
.checkBox-option-div{
			margin-left: 9%;
			float:left;
			width: 100%;
			input{
				height: 15px;
			}
			label{
				line-height: 263%; 
				font-size: 1.5em; 
				display:inline;
			}
		}
.header {
    ._component {
	   border-bottom: 1px solid #bbb;
	   margin: 1% 0;
	   width: 100%;
	}
}
#whosCovered{
	.multiGroup{ 
		label{
			color: #000;
			&.household{
				width: 13%;
				float: left;
				margin-top: 44px;
				margin-left: 3%;
				color: #0099CC;
			}
		}
	}
}
#appProgBar{
	.mega-meu{
		width: 745px;

		ul li{
			margin: 0 0 0 30px;
		}
	}
}
.data-section {
	/* Icons overrides */
	.shop-icon-compare, .shop-icon-compare-disabled{
		margin-top: -1px;
	}
		/*NE Branding*/
		&#account-component{
			._summaryBar{
				.instructions{color:#FFF;}
				/*NE Branding*/
				.loadable-nav{
					a.btn-utility._showQuestions{
						margin: 11px;
					}
				}
				/*NE Branding*/
			}
		    .questionnaire{
					.question-content{
						background: none repeat scroll 0 0 #FFFFFF;
						display: inline-block;
						width: 100%;
							
								.btn_secondry, .btn-utility{font-size: 1.3em;padding: 5px 15px;}
							
					}
				._workflowActions{
					.paging-section{
						width: 94.9%;
						margin: -9px 10px 9px 9px;
					}
				}	
					
			}
		}
		/*NE Branding*/
		
		
	.content-section{

		.content-section-arrow{
			width: 0;
			height: 0;
			border-top: 160px solid transparent;
			border-bottom: 160px solid transparent;
			border-left: 43px solid #FFFFFF;
			position: absolute;
			top: -5px;
			right:30.5%;
			z-index: 1001;
		}
		.info-text{
			    float: left;
				margin: 10px;
				text-align: center;
				width: 90%;
		}
		.half-section{
			.info-text{
				min-height: 15px;
			}
		}
		.third-section{
			.info-text{
				min-height: 30px;
			}
		}
		.branch-buttons {
		    float: left;
		    width: 100%;

			&.split{
				/*NE Branding*/
				background: @light-blue-bg; 
				padding:15px; 
				width: 95%;
					.eligible-help{float:left;margin-top:21px;width: 55%;}
				/*NE Branding*/
				.left{
					/*float: left;
					width: 48%;
					border-right: 1px solid @border_color; */ /*NE Branding*/
					padding-right: 1%; /*NE Branding*/
					margin-bottom: 10px;

					.action-description {
						font-size: 1.4em;
						font-weight: bold; 
						color: @default-heading-color; /*NE Branding*/
					}
				}
				/* End left */

				.right{
					/*float: right;
					width: 48%; */ /*NE Branding*/

					a {
						clear: both;
						display: block;
					}

					.action-description{
						font-size: 1.2em;
						margin-bottom: 15px;
					}

					.action{
						margin-bottom: 15px;
					}
				}
				/* End right */
			}
			/* End split */
			
			.btn_primary, .btn-utility {
				margin: 20px;
				/*width: 81%;*/ /*NE Branding*/
			}
		}
		/* End branch-buttons */
		
		/*NE Branding*/
		.other-option{
			margin-top: 15px;
			float: left;
				.fleft{
					float:left;
					margin-right: 3px;
					padding: 17px 15px; 
					background: @light-grey-bg;
					&.no-margin{
						margin-right:0px;
					}
				}
		}
		/*NE Branding*/
		
		.branch-disclaimer {
			margin: 10px 0px;
		}

		.branch-description {
		    .clearfix;
			 background: #CFCFCF url('../images/subsidy-check.png') no-repeat 15px 15px;   /*NE Branding*/
			width: 71%;
			float: left;
			margin: 2% 0%; /*NE Branding*/
			min-height: 50px;
			padding: 19px 14px 6px 69px;
			.rounded_corners(4px);
			
		}
		.subsidy, .methods{
		   .need-more-help{
		   	background: #FFF url(../images/need-help-icon.png) no-repeat 0 0;
		   	width: 98%;
		   	float: left;

		   	.heading{
		   		margin: 0 .5% 0 1.5%;
		   		width: 24%;
		   		line-height: 125%;
		   		float: left;
		   		padding: 11px 0 0 72px;
		   	}

		   	.instructions{
		   		width: 64%;
		   		margin: 12px 0 10px 1%;
		   		font-size: 1.2em;
		   		line-height: 150%;
		   		float: left;
		   		display: inline;
		   		clear: none;
		   	}
		   }

		   .subsidy-branch, .methods-branch{
		   		/*padding: 0 2%;*/
		   		width: 100%; /*NE Branding*/
				background: #FFF; /*NE Branding*/

		   		.btn_primary{
		   			&._subsidyEngage, &.btn_grey{
		   				border: 2px solid #cecece;
		   				.gradient(@white, @lightgray);
		   				color: #505050;
		   				text-shadow: none;

		   				&:hover{
		   					.gradient(@lightgray, @white);
		   				}
	   				}
		   		}
		   		.heading{
		   			text-align: left; /*NE Branding*/
		   			font-size: 3em; /*NE Branding*/
					padding: 10px 0 0 0; /*NE Branding*/
		   		
			   		&.subcheckhdr{
			   			font-size: 2.5em;
			   			color: @default-heading-color; /*NE Branding*/
			   			text-align: left;
			   			margin-bottom: 10px;
						width: 75%; /*NE Branding*/
			   		}
			   	}

		   		.two-third-section, .half-section, .third-section{
		   			margin-bottom: 25px;
		   			&.shop-for-plans{
			   			.method-choices{
			   				background: url(../images/browse-icon.png) no-repeat 15px 15px;
			   				.branch-description{
			   					background: url('../images/tool-icon.png') no-repeat 15px 15px;
			   					padding: 19px 14px 6px 69px;
			   					ul{
			   						margin: 5px 4% 33px 4%;
			   					}
			   				}
			   				.instructions{
			   					color: #707070; /*NE Branding*/
			   				}
			   			}
		   			}
		   		}

		   		.two-third-section{
		   			.rounded_corners(0px); /*NE Branding*/
		   			margin: 1% 0.5%;
		   			padding: 10px 1%; /*NE Branding*/
		   			padding-bottom: 0;
		   			float: left;
		   			position: relative;

		   			.heading{
		   				float: none;
		   			}

		   			p{
		   				.clearfix;
		   				font-size: 1.2em;
		   			}

		   			.branch-buttons{
		   				.btn_primary{
						/*NE Branding*/
		   					margin-left: 0px;
							padding: 5px 60px;
							line-height: 30px;
						/*NE Branding*/
		   				}
		   			}
		   		}
		   		/* End two-third-section */

		   		.third-section{
		   			.rounded_corners(0px); /*NE Branding*/
		   			margin: @half-section-margin;
		   			padding: 10px 2%;
		   			padding-bottom: 0;
		   			float: left;
		   			position: relative;

		   			p{
		   				.clearfix;
		   				font-size: 1.2em;
						padding-top: 0px;
		   			}

		   			.method-choices{
		   				background-position: 0px 0px;

		   				.subcheckhdr{
		   					margin-left: 28%;
		   					margin-top: 0;
		   				}

		   				.instructions{
		   					margin-left: 28%;
		   				}

		   				.branch-buttons{
		   					position: absolute;
		   					bottom: 0;
		   					width: 88%;
							
		   					.btn_primary{
		   						margin-left: 3%;
		   						margin-top: 15px;
		   					}
		   				}
		   			}
		   			/* End method-chocies */

		   			&.shop-for-plans{
						padding-left:25px; /*NE Branding*/
						border-left:1px solid #c0d4dc; /*NE Branding*/
		   				.method-choices{
		   					background-position: 0px 0px;
		   				}
		   			}

		   			.branch-description{
		   				width: 61%;
		   			}

		   			.branch-buttons{
		   				a{
		   				/*	margin-left: 2.25%; */
		   					position: absolute;
			  				bottom: 97px;
			  				left: 9px;
		   				}
						.btn_secondry{
							padding: 5px 25px; /*NE Branding*/
							font-size: 1.5em; /*NE Branding*/
						}
		   			}
		   			/* End branch-buttons */
		   		}
		   		/* End third-section */

		   		.method-choices{
		   			margin: 2% 2% 0 2%;
		   			background: url(../images/guided-help-icon.png) no-repeat 15px 15px;
		   			.branch-buttons{
		   				height: 66px;
						position: absolute; /*NE Branding US: SHSBCBSNE-216*/
						bottom: 70px; /*NE Branding US: SHSBCBSNE-216*/
						width: auto; /*NE Branding*/
		   			}
		   			.branch-description{
		   				font-size: 1.3em;
		   				line-height: 150%;
		   				background: url('../images/subsidy-check.png') no-repeat 15px 15px;
		   				width: 79%;
		   				margin: 1% 0%;

		   				ul{
		   					li{
		   						font-size: .9em;
		   					}
		   				}

		   				.btn_primary{
		   					margin-bottom: 0;
		   				}
		   			}

		   			.instructions{
		   				font-weight: normal;
		   				font-size: 1.6em;
		   				line-height: 125%;
		   				margin-left: 22%;
		   				color: #707070; /*NE Branding*/
		   				width: 75%;
		   			}
		   			.subcheckhdr{
			   			font-size: 2.5em;
			   			text-align: left;
			   			margin-bottom: 0;
			   			padding-bottom: 0;
			   			margin-left: 21%;
			   		}
			   		.branch-buttons{
			   			.btn_primary{
			   				margin: 20px 20px 0 20px;
			   			}
			   		}
		   		}
		   		.instructions{
		   			font-size: 1.8em;
		   			margin: 1% 0 15px 1%;
		   			font-weight: 600;
		   		}
		      .two-third-section, .half-section, .third-section {
			     color: #fff;
				 background: #4097c4;
				 min-height: 250px;

				&.shop-for-plans{
					.gradient(@shop-for-plans-start, @shop-for-plans-end);
					color: #333333;
					.heading{color: @default-heading-color;} /*NE Branding*/

					.branch-description{
						.rounded_corners(0px); /*NE Branding*/
						background: @light-grey-bg url('../images/subsidy-cart.png') no-repeat 15px 15px; /*NE Branding*/
						padding: 19px 14px 6px 69px;
						width: 71%;
						.branch-tip{
							float: left;
							font-weight: bold;
						}

						.branch-tip-note{
							float: right;
							width: 90%;
						}
							
					}
				}
			  }
			  .third-section{
			  	min-height: 345px; /*NE Branding*/

			  	.branch-description{
			  		background: #14628a url('../images/subsidy-check.png') no-repeat 15px 21px;
			  		padding: 19px 14px 19px 69px;
			  	}

			  	&.shop-for-plans{
			  		.branch-description{
			  			background: @light-grey-bg url('../images/subsidy-cart.png') no-repeat 15px 15px; /*NE Branding*/
			  			width: 61%;
			  			/*position: absolute;*/ /*NE Branding*/
			  			bottom: 5px;
			  			left: 0px;

			  			.branch-tip-note{
			  				width: 85%;
			  			}
			  		}
			  	}
			  }
			  .remember-this {
			     float: right;
				 margin-right: -3%;
				 width: 21%;
				 label {
				    text-align: left;
					margin: 7px 0 15px 0;
				    width: 70%;
				 }
			  }
		   }

		   .close-enrollment{
		   
			   &.subsidy-branch, &.methods-branch{
			   	.heading{
			   			text-align: left;
			   			margin-left: 0;
			   			font-size: 2.6em;
						color: #0C426B;
				}
				.heading-sub-text{
			   		 color: #0C426B;
			   		 font-size: 1.6em;
			   	}
			   }
		   	
			
			  .fright{float: right;}			
			  .health-market-list{
				padding-left: 10px;
						
				li{
					background: url(../images/check_icon.png) no-repeat;
					padding-left: 20px;
					font-size: 12px;
				}						
			  }
			
			 .two-third-section, .half-section, .third-section {
				&.shop-for-plans{
					.branch-description{
						.rounded_corners(4px);
						background: #cfcfcf;
						padding: 19px 14px 6px 10px;						
						margin: 2% 0;
						width: 95%;

						.branch-tip{
							float: left;
							font-weight: bold;
						}

						.branch-tip-note{
							float: right;
							width: 94%;
						}
					}
				}
			  }

		   
		   }
		   .close-enrollment-right{
		   	min-height: 393px !important;
		   	 a.right-btn{
			    width:auto;
				bottom: 82px !important;		
				margin-left: 25% !important;
			
			    }
		   }	
			
		   .subsidy-branch{
		   		.half-section{
		   			min-height: 310px;

		   			&.shop-for-plans{
		   				min-height: 310px;
		   			}
		   		}
			/*NE Branding - New FFM page SHSBCBSNE-265*/	
			 &.subsidy-ffm{
				.heading{
					font-size: 3em;
					padding: 10px 0;
				}
				.subsidy-section{
					padding: 15px;
					float: left;
					padding: 40px 45px;
					width: 91%;
					.third-section{
						margin:0px;
						width: 235px;
						min-height: 260px;
						border:1px solid red;
						background: #dff2f9;
						color: #000;
						border: 3px solid #c5d3d3;
						p{
							font-size: 14px;
							&.textNote{
								font-size: 11px;
							}
							.btn_chknow{
								margin-top: 25px;
								padding: 5px 45px;
							}
							.btn_taxcredit{
								 padding: 5px;
								 text-transform: none; 
							}
							.btn_shopplans{
								margin-top: 25px;
								padding: 5px 25px;
							}
						}
					}
				}
			 }
				/*NE Branding - New FFM page SHSBCBSNE-265*/	
		   }
		   .two-third-section{
				float: left;
				width: 58%; /*NE Branding*/
				
					.dataGroup{
						label{
							font-size: 1.2em;
							margin: 5px 0px 0px 0px;
						}
						&.question-input{
							.desc{
								width:100%;
								line-height: 150%;
								font-size: 1.6em;
								margin: 18px 0 5px 0;
								font-weight: normal;
								color: @instructions-font-color;
							}
						}
					}
				
				.content-section-arrow{
					top: 311px;
					right: 39.4%;
					z-index: 10;
				}
				.checkBox-option-div, .radio-option-div{
					clear: none;
				}
			}
			.third-section{
				
				width: 30%;
				
					&.section-description{
					//background: @whos-covered-bg;
					//.inset (1px, 1px, 7px, rgba(0, 0, 0, .06));
					float: right;
					
				  }
		}
		}

        ._whosCoveredWidget {
			.se-date{
			   .clearfix;
			   margin: 0;
			}
			
			.dataGroup{
			  &.multiGroup {
			      width: 95%;
				  margin: 0 2.5%;
				  
				  .multiFields {
				       width: 70%;
				  }
			  }
			}
		}
		.whoscovered{
			.full-section{
				margin-top:10px;
			}

			// PREPARING FOR DELETION...
			/*
			.half-section {
				&.demographic-instructions{
				    .rounded_corners(8px);
	                background: #d9edf7;
	                border: none;
					margin-left: 2%;
					margin-right: 1%;
					padding: 10px 1% 4px 2%;
					width: 64%;
					position:relative;
					text-align: center;

					.subheading, .instructions{
						float: none;
						text-align: center;
					}

					&:after, &:before{
						content: ' ';
						height: 0;
						position: absolute;
						top: 100%;
					}

					&:after {
						width: 0;
					    border: 10px solid transparent;
		                border-top-color: #d9edf7;
		                left: 50%;
		                margin-left: -10px;
					}
				} // end .demographic-instructions
			}
			*/

			// PREPARING FOR DELETION...
			/*
			.benefit-instructions{
				.rounded_corners(8px);
				background: #e9f2d6;
				border: none;
				float: left;
				margin-left: 0.15%;
				padding: 10px 2% 4px 2%;
				width: 24%;
				position: relative;
				text-align: center;

				.subheading, .instructions{
					float: none;
					text-align: center;
				}

				.subheading{
					margin-top: 5px;
				}

	           	&:after, &:before{
					content: ' ';
					height: 0;
					position: absolute;
					top: 100%;
				}
				&:after {
					width: 0;
				    border: 10px solid transparent;
	                border-top-color: #e9f2d6;
	                left: 50%;
	                margin-left: -10px;
				}
			} // end .benefit-instructions
			*/

			.horizontal-input {
				display: inline-block;
				width: 25%;
				vertical-align: middle;

				label {
					display: inline;
					float: none;
					vertical-align: middle;
				}

				.form-element {
					display: inline;
					float: none;
					vertical-align: middle;
				}
			}

			.subheading, .instructions, table.coverage-table th:first-child{
				padding-left: 2%;
				margin-left: 0;
			}

			.add-dependent-button{
				margin-left: 50px;
			}

			.account-form{
				.heading {
					display: block;
					float: none;
				}

				.subheading {
					float: none;
					margin: .8em 0;
					padding: 0;
				}
			}

		}
		/* End whoscovered */
        .demographics{
        	.full-section{
        		.heading{
        			font-size: 3.7em;
        		}

        		.account-form{
        			.heading{
        				margin: 0;
        			}
        			.dataGroup{
        				&.se-date{
        					background: #e6f1fd;
        					.rounded_corners(4px);
        					width: 100%;
        					padding: 1% 0;
        					margin-top: 1%;
	        				label{
	        					font-size: 1.3em;
	        					padding-left: 22%;
	        					margin: 14px 1% 0 0;
	        				}
        				}
        			}
        		}

        		.instructions{padding-left: 6%;}

        		.demographics-right{
        			.heading{
        				font-size: 2em;
        				width: 100%;
        			}
        		}

        	}
        }


		.methods{

				.full-section{
					/*margin-top:10px;*/ /*NE Branding*/
 
					.half-section{
					/*NE Branding*/
						background: @light-blue-bg; /*NE Branding*/
						.rounded_corners(0px);
						width: 47.5%;
						&.shop-for-plans{
							background: @light-blue-bg; /*NE Branding*/
							margin-left: 28px;
						}
					/*NE Branding*/
						&.description-section{
							background: @method-bg;
						}
						.btn_primary {
						   
							margin: 5px 25%;
						}
						ul{
						    margin: 5px 4%;
						
						    li{
							    padding: 0;
							}
						}
						.method-descriptions{
							.method-image{
								span{
									width: 73px;
									height: 73px;
									margin: 5% 0 0 33%;
									background: @shop-icon-small;
								}
								.shop-icon-build-small{background-position: -199px -85px;}
								.shop-icon-browse-small{background-position: -199px -174px;}
							}
							.subheading{
								text-align: center;
							}

							.instructions{
								text-align: left;
							}
						}
						/* End method-descriptions */
					}
				}


			.subheading{
				padding-top: 26px;
				font-weight: normal;
				font-size: 1.8em;
				width: 100%;
				text-align: center;
			}
		}
		/* End methods */

		.questionnaire{
			.full-section{
			
				/*NE Branding NOTE! DO NOT USE !important find the right selector and change it there.*/
					&#whosCovered{
						background: #FFF;
						margin-bottom: 10px;
						color: #000; /*DO NOT USE IMPORTANT HERE*/
						/*NE Branding*/
						.instructions{
							color: @default-heading-color;
							font-size: 3em;
							text-align: left;
							.headerFont;
							line-height: 125%;
							margin: 0 1%;
							padding: 10px 0 0 0;
						}
						/*NE Branding NOTE! DO NOT USE !important find the right selector and change it there.*/
						label{
								//color: #000;  /*DO NOT USE IMPORTANT HERE*/
						}
							.add-dependent-box{
								label{
										margin:10px 10px 10px 30px; 
										font-size:1.2em; 
										font-weight:500;
										color:#000000;
								}
								.btn_secondry{margin: 5px 5px 15px 30px;}
							}
					}
				
				/*NE Branding*/
				
				.rounded_corners(0px); /*NE Branding*/

				.info-section{
					.section-buttons{
						background: transparent;
					}
				}

				.sliderGroup{
					margin-left: 10%;
				}
			}
			
		}
		/* End questionnaire */

		.summary{
			.full-section{
				min-height: 0px;
				margin-top: 10px;

				.description-section{
					padding-left: 3%;
					width: 30%;
				}
			}

			.content-section-arrow{
				display: none;
			}
		}
		/* End summary */

		.account-form{
			width: 100%; /*NE Branding issue#SHSBCBSNE-839 */
			padding: 0% 0% 5% 0%; /*NE Branding issue#SHSBCBSNE-839 */

		}

		&.selected-products{
			.box_shadow(none);
			border-bottom: 1px solid @border_color;
			padding-bottom: 10px;

			.subheading{
				margin-left: 3%;
			}
		}
		/* End selected-products */

		&.two-plan-view{
			.plan-card{
				width: 42%;

				.close-icon{
					left: 7%;
				}

				.plan-select{
					width: 90%;
				}
			}
			/* End plan-card */
		}
		/* End two-plan-view */
	}
	/* end content-section */

	&.border-top { border-top: 1px solid #dedede; }

	&.general-section {
	    background: url("../images/happy-family.png") no-repeat 0 0;
		border-bottom: 8px solid #a2bb52;
		box-shadow: inset 0 -1px 0 #FFF;
		margin: 1% 0 0 0;
		//padding: 3% 2%;
		width: 100%;
		height: 270px;
        position: relative;
		//.box_shadow();
		//.gradient-with-stop(@content-section-startgrad, @content-section-midgrad, @content-section-endgrad, @content-section-stop-loc);
		//.rounded_corners(8px);
        #nS {
            position: absolute;
            width: 100%;
            height: auto;
            overflow: hidden;
            width: 640px;
            height: 270px;
        }
        .welcome-heading { .headerFont; font-size: @welcome-heading-size; color: @welcome-heading-color; width: 400px; text-align: center; margin-top: 2%;line-height: 150%; position: relative; z-index: 10; }
	    .welcome-subheading { .headerFont; color:#0c426b; font-size: @welcome-heading-size - 2.5em;  width: 300px; text-align: center; margin-left: 5%; position: relative; z-index: 10; }
		.days-left {
			float: right;
			font-size: 1.5em;
			color: #fff;
			text-align: center;
            /*background: @top-bar-bg url("../images/welcome-bg.png") no-repeat -35px 0px;*/ /*NE Branding*/
			.gradient(#1186b4, #80d2f5); /*NE Branding*/
			width: 36%;
			box-shadow: inset 0 -1px 0 #fff;
            position: relative;
            z-index: 10;
            height: 270px;

            .subheading{
            	.text_shadow(0px, 1px, 0px, #404040);
            	font-size: 1.2em;
            	margin: 10px 0px 0px 40px;
            	color: #FFF;
            }

            .dataGroup{
            	&.inline-inputs{
            		margin-left: 25%;

            		label{
            			font-size: 1em;
            			margin-top: 5px;
            		}
            	}
            	/* End inline-inputs */

            	.radioFields{
            		margin-top: 0px;
            		width: 85%;
            	}

            	label{
            		.text_shadow(0px, 1px, 0px, #404040);
            		width: 50%;
            		font-size: 0.8em;
            		color: #FFF;
            		margin-top: 12px;
            	}

            	input[type=text]{
            		height: 30px;
            	}
            }

            ._errors{
            	.clearfix;
            	float: left;
            	width: 100%;
            	height: auto; /* NE Branding */

            	.validation-errors{
            		width: 90%;
            		font-size: 0.8em;
            		max-height: 32px;
            		margin-left: 3%;
            		margin-top: -5px;
            	}
            }
			/*NE Branding*/
			
			._coverageDateInput{
				label{
					width:52%;
					margin-left: 12px;
				}
				input{
					width: 100px;
				}
			}
			/*NE Branding*/

            .disclaimer{
            	font-size: 0.75em;
				text-shadow: 1px 0px #404040;
				margin: 0px 7px; /*NE Branding*/
				padding-bottom: 5px;
				display: inline-block;
				border-bottom: 1px solid @border_color;
				text-align: left;
            }

            .shop-icon-calendar {
			   /* background: #448fba url("../images/welcome-calendar.png") no-repeat 21px 18px;
				width: 90px; 
				height: 90px;
				.rounded_corners(100px);
				margin-top: 15px; */ 
				/*NE Branding*/
					display: none;
				/*NE Branding*/
			}
			.welcome-text {
				text-align: center;
				font-size: 22px; /*NE Branding*/
				margin-top: 45px; /*NE Branding*/

			}

			.welcome-text-sub{
				font-size: 24px; /*NE Branding*/
				font-weight: bold; /*NE Branding*/
				margin-top: 15px; /*NE Branding*/
			}
			.days {
				//font-size: 1.2em; /*NE Branding*/
				//color: #beee26; /*NE Branding*/
			}
			.specialArrow {
                position: absolute;
                top: 70px;
                left: -25px;
				width: 0;
                height: 0;
                border-left: 25px solid transparent;
                border-right: 0px solid transparent;
                border-bottom: 20px solid #4097c4;
			}
		}
	} // end .general-section
.welcome-build, .welcome-compare, .welcome-decide {
/*line-height: 3 !important; *//*NE Branding*/
padding-left: 70px;
height: 70px;
}
// Changed by rsingh for 17
.welcome-build { 
background: url("../images/welcome-DollarCircleIcon.png") no-repeat;
color: @home-shop-heading ; /*NE Branding*/
}
.welcome-compare { 
background: url("../images/welcome-CartCircleIcon.png") no-repeat;
color: @home-shop-heading ; /*NE Branding*/
}
.welcome-decide { 
background: url("../images/welcome-CheckCircleIcon.png") no-repeat;
color: @home-shop-heading ; /*NE Branding*/
}
	&.welcome-section{
		width: @welcome-width;
		margin-top: @welcome-margin-top;
		border: 5px solid lighten(@border_color, 15%);
		.gradient-with-stop(@content-section-startgrad, @content-section-midgrad, @content-section-endgrad, @content-section-stop-loc);
		.rounded_corners(8px);
		.box_shadow;
		position: relative;

		&.help-section{
				margin: 0px;

				.half-section{
					width: 42%;
				}
		}

		.days-left{
			font-size: 1.5em;
			.days{
				font-size: 3em;
				color: #e09c2a;
			}
		}

		.heading{
			color: @standard-font-color;
			font-size: (@heading-font-size - .5em);
		}

		.welcome-heading{
			font-size: @welcome-heading-size;
			margin-bottom: 10px;
			float: left;
			.gradient(@content-header-startgrad, @content-header-endgrad);
			color: @welcome-heading-color;
			text-align: center;
			width: 98%;
			.rounded_corners (4px 4px 0 0);
			padding: 10px;
		}

		.step-desc{
			font-size: 1.1em;
			line-height: 175%;
		}

		.callout {
			background: lighten(@heading-font-color, 50%);
			border: none;
			border: 3px solid lighten(@border_color, 15%);
			float: right;
			margin-right: 2%;
			padding: 5px 1.5%;

			width: 26%;
			@shadow: 4px 8px 20px -15px #333;
			.box_shadow(@shadow);
			.rounded_corners(8px);

			.callout-title {
				color: #3f82a8;
				font-size: 1.8em;
				font-weight: normal;
				line-height: 1.8em;
				margin-bottom: 5px;
				margin-left: 0;
				width: 100%;
			}

			.section {
				border-bottom: none;
				padding: 1px 0;
			}

			ul.match-list {
				.rounded_corners(8px);
				padding: 10px;
				width: 92%;

				li{
					font-size: 1.3em;
					line-height: 150%;
				}

			}

			.days-left { text-align: center; }
			.days { font-weight: 700; }
			.rate { margin-left: 5%; }

			//Styles .half-section directly following .plan-card
			+.half-section{
				border: none;
				width: 61%;
				padding: 10px 20px 40px;
				margin: 0;
			}
		}
		/* End plan-card */

		.half-section{
			margin: 21px 2% 10px 0;
			li{
				padding-left: 0px;
			}

			img{
				border: 5px solid lighten(@border_color, 15%);
			}
		}
		/* End half-section */
	}
	/* End welcome-section */

	&.product-section{
		border: none;
		/*background: @see-compare-plans-bg;*/ /*NE Branding*/
		background : none;
		.content-header{
			background : none;
		}

		.content-section{
			background: @see-compare-plans-bg;
			.rounded_corners(0 0 8px 0);
			.box_shadow(none);
		}
	}

	&.cart-section{
		//display: none;
		border: none;
		background: transparent;

		.content-section{
			border: none;
			background: transparent;

			.empty-cart{
				text-align: center;
				margin-top: 50px;
				margin-bottom: 25px;

				.heading, .subheading{
					color: @default-heading-color; /*NE Branding*/
					float: none;
					margin-left: 0px;
				}
			}
		}

		.content-header{
			margin: 0px;
		}

		.content-wrapper{
			margin: 0px 3px;
		}

		.content-tools{
			.rounded_corners(8px 8px 0px 0px);
			margin: 0px;
			.gradient(@nav-action-active-bgstart, @nav-action-active-bgend);

			a, a:hover{color: #FFF;}

			&.cart-total{
				background: transparent;

				.total-cost{
					color: @labelColor;

					.rate{
						color: @breakdown-rate-color;
						margin-right: 10px;
					}
				}
			}
		}

		
			.btn-prev{
				font-weight: bold;
				font-size: 1.2em;
			}

		.instructions{
			width: 65%;
		}

		.heading{
			margin: @cart-heading-margin;

			span{
				position: relative;
				top: -3px;
				margin-right: 10px;
			}
		}

		.benefit-section{
			.clearfix;
			.standardborder;
			.rounded_corners(@benefit-section-corners);
			margin: @benefit-section-margin;
			min-height: @benefit-section-min-height;
			width: @benefit-section-width;
			background: @benefit-section-bg;
			float: left;
			position: relative;

			&:last-child{
				margin-bottom: 0px;
			}

			.section{
				width: @benefit-section-inner-width;
				padding: @benefit-section-inner-padding;
				font-size: @benefit-section-inner-size;
				float: left;

				.read-only{
					width: 95%;
					color: @benefit-section-value-color;
					font-size: 1.45em;
					font-weight: bold;
					margin-left: 0;
				}

				label{
					width: 95%;
					margin-left: 0;
					text-align: left;
				}
			/*NE Branding#SHSBCBSNE-22*/
				.benefits-Overview{
					margin-top: 75px;
					margin-bottom: 15px;
					a{
						color: @primary_color;
						text-decoration: underline;
						font-size: 13px;
						font-weight: bold;
					}
				}
				
				/*NE Branding#SHSBCBSNE-22*/
				&.cost-breakdown{
					width: 21.5%; /*NE Branding#SHSBCBSNE-22*/
					padding: 0px 1%;
					.costbd-title{
						margin:10px 0px;
						color: @primary_color;
						font-weight: bold;
					}
					.mcost{
						text-align: right;
						width: 170px;
						margin-bottom: 15px;
						span.breakdown-rate{
							font-weight: bold;
							padding-right: 10px;
						}
					}
					.breakdown-total{
						width: 100px;
						border-top: 2px solid #d4d4d4;
						color: @primary_color;
						font-size: 1.8em;  /*issue#SHSBCBSNE-931*/
						font-weight: bold;
						padding: 5px 0px 15px 0px;
						text-align: right;
					}
					
					/*issue#SHSBCBSNE-931*/
					.breakdown-rate-label{
						float: left; 
						width: 90%;
						label{
							float: left;
							text-align: left;
							width: 40%;
							font-weight: normal;
							margin-top: 0;
							margin-right: 2%;
						}
						.monthly{
							clear: none;
							width: 50%;
							text-align: right;
						}
						&.rate{
							border-top: 2px solid #D4D4D4;
							label{
								width: 32%;
								font-size: 12px;
								margin-top: 5px;
							}
						}
					}
					.rate-total{
						label{
							width: 100%;
						}
					}
					/*issue#SHSBCBSNE-931*/
				}
				/*NE Branding#SHSBCBSNE-22*/
			}
			/* End section */

			.section-buttons{
				position: absolute;
				bottom: 10px;
				right: 2%;
				width: 50%;
			}
			/* End section-buttons */

			.dataGroup{
				&.hasIcon{
					width: @benefit-section-hasIcon-width;
					float: left;
				}
				
			}
			/* End dataGroup */

			.details-link{
				padding-left: 3%;
				min-height: 16px;

				span{
					position: relative;
					left: -5%;
				}
			}
			/* End details-link */

			.close-icon{
				left: 1%;
				top: -10px;
				cursor: pointer;
			}

			.not-found{
				margin-top: 10px;
				font-style: italic;
			}
		}
		/* End benefit-section */

		.cost-breakdown-link{
			margin-left: 0;
		}

		/*New Ancilary plan cards in cart*/
		
		.plan-card{
			background: #f5f5f5; /*NE Branding - US - 22*/
			margin: 10px 0 10px 1%;
			border: 6px solid #FFF; /*NE Branding - US - 22*/
			width: 21%; /*NE Branding - US - 22*/
			.rounded_corners(8px); /*NE Branding - US - 22*/
			box-shadow: 0px 0px 2px #999; /*NE Branding - US - 22*/
			
			.product-line{
				/*.customfont;*/ /*NE Branding*/
				color: #666; /*NE Branding - US - 22*/
				font-size: 2em;
				margin-bottom: 10px;
				text-align:center; /*NE Branding - US - 22*/
				border-bottom: 1px solid #cdcdcd; /*NE Branding - US - 22*/
			}
			.plan-name{
				/*.customfont;*/ /*NE Branding*/
				font-size: 2em;
			}
			.plan-rate{}
			.dialog-buttons{
			/*NE Branding*/
				a.btn-utility{
					font-size: 1.8em;
					padding: 5px 25px;
					margin-left: 58px; /*NE Branding - US - 22*/
				}
			/*NE Branding*/
			}
			/*NE Branding*/
			.selected-products{
				.rate{
					font-size: 1.4em;
				}
			}
			/*NE Branding*/
		}
	}
	/* End cart-section */

	.third-section {
		display: inline-block;
		margin: 0 0 1.5% 0; /*NE Branding*/
		padding: 0 1.5%; /*NE Branding*/
		width: 24.9%; /*NE Branding*/
		vertical-align: top;
		min-height: 200px;
		
		/*NE Branding*/
		&.buy-steps-icon{
			margin: 13px 55px 0 10px;
			padding: 0;
			width: 8%;
		}
		/*NE Branding*/
		
		&.center {
			border-left: 1px solid #dedede;
			border-right: 1px solid #dedede;
		}

		&.video {
			padding-left: 1%;
			padding-right: 1%;
			width: 31%;
		}

		.heading {
			float: none;
			font-size: 2.0em;
			line-height: 2.0em;
		}

		p {
			font-size: 1.1em;
			padding: .5em 0;
		}

		ul {
			font-size: 1.2em;
			list-style-position: outside; /*NE Branding*/
			list-style-type: disc;
			padding-left: 40px; /*NE Branding*/

			li {
				padding: .5em 0 .5em .5em;
				color: #616061; /*NE Branding*/
			}
		}
	} // end .third-section

	.two-third-section{
		display: inline-block;
		width: 66%;
	}

	.steps{
		width: 95%;
		margin: 1% 0 1% 1%;
		float: left;
		
		.step-section{
			.clearfix;
			float: left;
			width: 100%;
			padding: 20px 0px;
			margin-bottom: 3px;
			.rounded_corners(8px);
			@shadow: 4px 8px 20px -15px #333;
			.box_shadow(@shadow);

			&:last-child{
				border-bottom: none;
			}

			.step-number{
				float: left;
				font-size: 4.5em;
				margin: -7px 2% 0 2%;
			}

			.step-title{
				float: left;
				font-weight: bold;
				font-size: 1.3em;
				margin-bottom: 5px;
				color: #81AA2A;
			}

			.step-desc{
				float: left;
				width: 85%;
			}
		}
		/* End step-section */

		.chart-image{
			float: right;
			margin-top: -60px;
			margin-right: 12%;
		}

		&.description-section{
			.rounded_corners(0 8px 8px 0);
			.inset (6px, 1px, 8px, rgba(0, 0, 0, .09));
			background: @description-section-bg;
			padding: 2%;
			float: right;
			margin: 0;
			margin-top: -10px;
			height: 280px;
			margin-bottom: -10px;

			.subheading{
				padding-top: 0;
				text-align: left;
			}

			.btn_primary{
				position:absolute;
				bottom: 5%;
				right: 2%;
			}
		}
	}
	/* End half-section */

	.full-section{
		.section-buttons{
			margin-right: 0px;
			.btn-prev{
				font-weight: bold;
				font-size: 1.6em;
				margin-top: 2.5%;
				float: left;
			}

			.btn_primary, .btn-utility{
				float: right;
			}
		}

		.subheading{ 
			&.demographicsSE{
			text-indent: 88px;
			margin: 0 0 1% 0;
		}
	}

		&.pa-summary-section{
			/*width: @summary-width;
			background: @carousel-bg;*/
			background: #FFF; /*NE Branding*/
			width: 98%;
			padding-left: 0px;
			padding-right: 0px;
			margin: 10px;
			float:left;
			/*NE Branding*/
			.subheading{
				font-weight: @summary-subheading-weight;
				margin: 5px 0px 10px 0px;
			}

			.half-section{
				padding: @summary-half-section-padding;
				width: @summary-half-section-width;
				margin: @summary-half-section-margin;
				border-right: none;
				box-shadow: none;

				.dataGroup{
					&.hasIcon{
						padding-left: 10%;
						float: left;

						a{
							font-size: 0.8em;
							margin-top: 5px;
						}

						.sub-label{
							margin-top: 15px;
						}
					}
				}
				/* End dataGroup */

				.match-list{
					margin-left: 0px;
				}

				&.preferences-section{
					width: 100%;
					float: left;

					.dataGroup.hasIcon{
						float: left;
						clear: none;
						width: 50%;
						padding-left: 0;
					}

					.subheading{
						float: none;
					}
				}
				/* End preferences-section */
			}
			/* End half-section */

			.dataGroup{
				&.multiGroup{
				    width: 90%;
					label{
					    width: 15%;
					}
					.subheading{
						float: none;
					}
                    .multiFields{
					    width: 65%;
					}
					.dataGroup{
						float: left;
						width: 99%;
						clear: both;

						.preference{
							margin: 5px 0px 5px 18px;
							clear: both;
							float: left;
							font-size: 1.2em;
						}

						.icon{
							width: @match-list-icon-width;
						}
					}
				}
				/* End multiGroup */
			}
			/* End dataGroup */

			.info-row{
				.clearfix;
				float: left;
				width: 96%;
				margin-left: 2%;
				border-bottom: 1px dashed @border_color;

				&:last-child{
					border-bottom: none;
				}

				.dataGroup{
					float: left;
					width: 33%;
					clear: none;
					margin-bottom: 5px;

					.read-only{
						font-size: 1.2em;
						width: 100%;
					}
				}
			}
			/* End info-row */

			.match-list{
				li{
					.icon{
						width: @match-list-icon-width;
					}
				}
			}
			/* End match-list */

			.dataGroup{
				&.hasIcon{
					a{
						margin-top: 5px;
					}
				}
			}
			/* End dataGroup */

			.healthcare-needs-table{
				.match-list{
					margin: 0;
					font-size: 1em;

					li{
						.icon{
							width: @match-list-icon-width;
						}

						.preference{
							width: 82%;
						}
					}
				}
			}

			a{
				color: @header-link-color;
			}

			&._otherQuestions{
				font-size: 1.2em;
			}

			.instructions{
				font-size: 1.4em;
			}

			.third-section{
				min-height: none;
			}
		}
		/* End pa-summary-section */

		.cost-estimator{
			.question-section{
				.clearfix;
			}

			.info-section{
				position: relative;
			}

			.cost-estimator-inlay{
				padding: 10px 3%;
				float: right;
				width: 44%;
				font-size:12px;
				clear: none;
				min-height: 100px;

				.subheading{
					margin-bottom: 10px;
					color: #2A5770;
				}
			}

			.content-section-arrow{
				top: 37px;
			}

			.btn-utility{
				&.return-general-health{
					.clearfix;
					margin-left: 0px;
				}
			}

			.categories{
				.subheading{
					float: none;
				}
				.health-category{
					.subheading{
						color: #1e1e1e; /*NE Branding*/
						margin-bottom: 10px;
						font-size: 1.3em;
						font-weight: bold;
					}
					input{
						margin-bottom: 15px;
					}
				}
			}
		}
		/* End cost-estimator */

		.provider-button{
			float: none;
			display: inline-block;
			vertical-align: middle;
		}

		&.special-enrollment{
			.event-information{
				.event-instructions{
					font-size: 1.6em;
				}

				.validation-errors{
					background: transparent;
					margin-left: 2%;
				}

				.dataGroup{
					margin-top: 15px;

					&.error-group{
						margin-top: 0px;
						min-height: 55px;
					}
				}
			}

			.clear-link{
				border-right: none;
			}

			.info-section{
				background-image: none;
				height: 220px;
				
				.dataGroup {	// NE Branding
				
					label {
						width: 100%;
						text-align:left;
						padding-left: 10px;
					}
					
					input {
						width:200px;
					}
				}
			}
		}
	}
	/* End full-section */

	.info-section{
		.chart-heading{
			color: @primary_color;
			font-weight: bold;
		}

		.providers-list{
			.clearfix;
			font-size: 1.2em;
			font-weight: bold;
		}
		.cost-estimator-hack{
			width: 100%;
			margin-top: 15px;


			.subheading{
				margin: 10px 0 5px 0;
				font-size: 1.3em;
			}

			.instructions{
				width: 100%;
				margin-bottom: 0;
			}

			.section-buttons{
				.clearfix;
				float: left;
				margin: 0;
				background: transparent;
				border: none;

			}
		}
	}
	/* End info-section */

	.fake-label{
		margin-top: 10px;
		color: @primary_color;
		font-weight: bold;
		float: left;
	}
	/* End fake-label */

	.dataGroup{
		&.swap-label-side{
			label{
				width: auto;
			}
		}
		/* End swap-label-side */

		&.demographics-right{
		/*.rounded_corners(4px); */ /*NE Branding*/
			float: left;
			padding: 1.5%;
			width: 22%; /*NE Branding*/
			position: absolute;
			right: 2%;
			top: 12px;
			background: @light-grey-bg; /*NE Branding*/
			text-align: center;

			&.wider{
				width: 30%;
			}

			.dataGroup{
				margin-left: 6%;
				
				.read-only {	// NE Branding
					margin: 10px 5px;
				}
			}

			.section-buttons{
				.box_shadow(none);
				border: none;
				background: transparent;
				padding-top: 0;
				padding-bottom: 0;

				a.btn-utility{
					margin-right: 8%;
					float: right;
					padding: 5px 20px;	// NE Branding
				}

				.cancel-link{	
					float: left;
					margin-top: 10px; // NE Branding
					padding: 6px 20px; // NE Branding
					font-size: @paging-link-size;
					font-weight: bold;
					margin-left: 14px;
				}
			}

			
			.button{
				font-size: 1.15em;
				/*width: 77%;*/ /*NE Branding*/
				margin-top: 20px; /*NE Branding*/
			}

			.heading { 
				margin-top: 2%;
				font-size: 1.5em;
			}

			label, .read-only{
				font-size: 1.15em;
			}

			.read-only{
				max-width: 65%;
				text-align: left;
			}

			.subheading {
				font-size: 1.5em;
				font-weight: 400;
				line-height: 150%;
			}

			.btn_primary {
				display: block;
				width: 89%;
				font-size: 1.6em;
				margin: 0.6em 0;
			}
		} // end .demographics-right

		&.half-group{
			float: left;
			clear: none;
			width: 50%;

			.checkBoxFields{
				width: 95%;

				label{
					&.checkBox-choice-label{
						width: auto;
					}
				}
			}
		}
		/* End half-group */

		&.best-for{
			float: left;
			width: 100%;

			label{
				width: auto;
			}

			.read-only{
				width: auto;
				color: @primary_color;
			}
		}
		/* End best-for */

		&.provider-group{
			label{
				text-align: left;
				width: auto;
			}

			.match-list{
				font-size: 1.2em;
			}
		}

		&.multiGroup.inline-group{
			.multiFields{
				margin-top: 28px;

				.dataGroup{
					label{
						margin-top: 16px;

						&#childOnly {
	                        margin-top: 0;
                        }
					}

					input, textarea, select{
						clear: none;  
					}
					input,select{
						height: 35px !important; /**NE Branding**/
					}
				}
			}
		}

	}
	/* End dataGroup */

	.content-tools{
		.dataGroup{
			&.plan-counter{
				width: 15%;
				margin-top: 10px;

				.plan-number{
					float: left;
					margin-right: 10%;
				}
			}
			/* End plan-counter */
		}
		/* End dataGroup */
	}
	/* End content-tools */

	.content-sidebar{
		.ui-slider-label-show{
			margin-left: -15px !important;
		}
	}
}
/* End data-section */

.dataGroup{
	&.email-copy{
		margin-left: 31%;

		label{
			width: 93%;
			text-align: left;
			margin-top: 6px;
		}
	}
	/* End email-copy */
	
	&.required{
	
	color : #AD382F;
	}

	&.slider-group{
		width: 80%;
		//margin-top: 63px !important;
		float: left;

		.ui-slider-label-show{
			width: 100px !important;
			margin-left: -50px !important;
		}
	}
	/* End slider-group */

	&.error-group{
		.read-only{
			margin-left: 32%;
			color: red;
		}
	}
	
	&.question-input {
					.desc {
						text-align: left;
						width: 50%;
					}
					
					.radioFields, .checkBoxFields  {
						width: 30%;
						 .radio-option-div, .checkBox-option-div {
							  margin: 1px 0;
							  
							  label {
								  margin-top: 3px;
							  }
						 }/* end radio-option-div */
					}/* end radioFields, checkBoxFields*/
				}/* end question-input */	
}
/* End dataGroup */

.dialog-header{
	font-size: @dialog-font-size;
	float: left;
	width: 100%;

	.dialog-title{
		font-size: @dialog-title-size;
		margin: @dialog-title-margin;
		float: left;
	}

	.dialog-buttons{
		font-size: @dialog-buttons-size;
		float: right;

		a{
			margin: 0;
		}
	}
	/* End dialog-buttons */
}
/* End dialog-header */

.dialogContainer{
	font-size: @dialog-font-size;
	color: @standard-font-color;
	margin: @dialog-container-margin;

	.heading{
		font-size: @dialog-heading-size;
	}

	.subheading{
		font-size: @dialog-subheading-size;
	}

	.instructions{
		margin-top: 15px;
	}

	.action-complete{
		text-align: center;
		margin-top: 50px;

		.heading, .subheading{
			float: none;
		}
	}
	/* End action-complete */

	.half-section{
		float: left;
		width: 49%;
		border-bottom: 1px solid @border_color;
	}

	.full-section{
		.clearfix;
	}

	.plan-card{
		.rounded_corners(@plan-card-corners);		
		width: @plan-card-width;
		padding: @plan-card-padding;
		margin: @plan-card-margin;
		border: @plan-card-border;
		background: @plan-card-bg; /*NE Branding*/
		float: left;

		.data-section{
			.instructions{
				color: #777;
				margin: 2% 0;
			}
		}

		.dialog-buttons{
			font-size: 0.7em;
		}

		.product-line{
			margin-bottom: 10px;
		}

		.plan-name{
			margin-left: 5%;
			font-size: 1em;
			margin-bottom: 10px;
		}

		.plan-rate{
			margin-left: 5%;

			.rate{
				font-size: 1.5em;
			}

			.rate-term{
				font-size: 0.8em;
			}
		}
		/* End plan-rate */

		.dialog-buttons{
			.btn_primary{
				max-width: 45%;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
		/* End dialog-buttons */
	}
	/* End plan-card */

	.dialog-buttons{
		font-size: @dialog-buttons-size;
		margin: @dialog-buttons-margin;
		float: left;
		width: 100%;

		a{
			float: right;
		}

		.button{
			color: @buttontext;
		}
	}
	/* End dialog-buttons */

	.plan-list{
		margin: 10px 0px;
		padding: 0;
		list-style: none;

		li{
			.clearfix;

			.icon{
				margin-right: 2%;
			}

			.plan-rate{
				margin-top: 5px;
				margin-left: 8%;
			}
		}
		/* End li */
	}
	/* End plan-list */

	.rate{
		color: @breakdown-rate-color;
		font-weight: bold;
		font-size: 1.8em;
	}

	.rate-term{
		font-size: 0.9em;
	}

	.plan-name{
		color: #2A5770;
	}

	.cart-info{
		margin-top: 10px;
	}

	.plan-description{
		width: @print-modal-description-width;
		padding: @print-modal-description-padding;
		float: right;
		border-left: 1px solid #BCBCBC;

		table{
			border-collapse: collapse;

			tr{
				td{
					&:first-child{
						width: 35%;
						vertical-align: top;
						font-size: 1em;
					}

					font-size: 0.8em;
				}
			}
		}
	}
	/* End plan-description */

	.plan-breakdown{
		width: @print-modal-breakdown-width;
		margin: @print-modal-breakdown-margin;
		float: left;

		.cost-breakdown{
			.clearfix;

			.plan-name{
				font-size: 1.4em;
				float: left;
			}

			.monthly{
				.clearfix;
				margin-top: 5px;
				float: left;
				margin-left: 4%;

				&.contribution{
					color: orange;
					border-bottom: 1px solid #BCBCBC;
					margin-left: 0;
				}
			}

			.describer{
				float: left;
				margin-top: 7px;
				margin-left: 5%;
				font-size: 0.8em;
			}
		}

		.plan-preference{
			.clearfix;
			float: left;
			margin-top: 15px;
			padding-top: 10px;
			width: 100%;
			border-top: 1px solid #BCBCBC;
		}
	}
	/* End plan-breakdown */

	.match-list{
		float: left;
		width: 100%;
		margin-top: 5px;
		list-style: none;

		li{
			.clearfix;
			padding-left: 0px;
			padding-right: 0px;
			margin: 2px 0px;
			width: 95%;
			float: left;

			.icon{
				width: @match-list-icon-width;
				float: left;
			}
			.preference{
				float: left;
				width: 85%;
			}
		}
		/* End li */
	}
	/* End match-list */

	&.email-dialog{
		input[type="text"], textarea{
			width: 300px;
		}

		.dialog-buttons{
			a.btn-utility{
				float: right;
			}
		}		
	}
	/* End email-dialog */

	&.print-dialog{
		.plan-card{
			.box_shadow(none);
			border: none;
			width: 100%;
			margin: 0;
			padding: 0;

			.details-wrapper{
				float: right;
				width: 34%;
				margin-left: 1%;

				.plan-details{
					float: left;
					width: 100%;
					padding-bottom: 10px;
					border-bottom: 1px solid @border_color;
				}

				.plan-preference{
					float: left;
					width: 100%;
					margin-top: 10px;

					.match-list{
						padding-left: 0px;
					}
				}
			}
			/* End details-wrapper */

			.plan-description{
				float: left;
				width: 62%;
				border-left: none;
				border-right: 1px solid @border_color;
			}

			.subheading{
				font-size: 1.2em;
			}

			.plan-name{
				margin-left: 0;
				margin-bottom: 5px;
				font-size: 1.3em;
			}

			.cost-breakdown{
				.monthly{
					.clearfix;
					float: left;
					margin-left: 9px;

					&.contribution{
						color: orange;
						border-bottom: 1px solid @border_color;
						margin-left: 0;
					}
				}

				.describer{
					float: right;
					font-size: 0.75em;
					margin-top: 2px;

					&.your-cost{
						margin-top: 25px;
					}
				}

				.rate{
					font-size: 2em;
					margin-top: 10px;
				}
			}
		}
		/* End plan-card */
	}
	/* End print-dialog */

	&.added-dialog{
		float: none;
		width: 100%;

		.half-section{
			min-height: 140px;

			&.added-section{
				border-right: 1px solid @border_color;

				.heading{
					margin-bottom: 25px;
				}
			}

			&.summary-side{
				.heading{
					margin-left: 5%;
				}

				.cart-info{
					margin-left: 10%;

					.rate{
						margin-left: 5%;
					}
				}
			}
		}
		/* End half-section */
		.full-section{
			.plan-card{
				width: 27%;
				padding: 10px 1.5%;
				background: #F5F5F5;

				.dialog-buttons{
					a.btn_primary{
						font-size: 13px;

						&:hover{
							font-size: 13px;
						}
					}
				}
			}
			/* End plan-card */
		}
		/* End full-section */
	}
	/* End added-dialog */

	&#_member-rates-modal{
		.plan-name{
			float: left;
			width: 60%;
			margin-top: 8px;
		}
		
		.plan-rate{
			float: right;
			width: 35%;
			margin: 10px 0px;

			.rate-label{
				float: left;
				width: auto;
				font-weight: bold;
			}

			.rate{
				float: right;
				margin-top: -6px;
				width: auto;
			}
		}

		.rates-table{
			border-bottom: 1px solid @border_color;

			thead{
				tr{
					th{
						padding: 10px 7px;
					}
				}
			}
			tbody{
				tr{
					td{
						&.rate-cell{
							font-weight: bold;
							color: @green;
							text-align: right;
						}

						&.included-cell{
							text-align: right;
							font-style: italic;
						}
					}

					&:nth-child(odd){
						td{
							background: #f2f2f2;
						}
					}

					&:nth-child(even){
						td{
							background: #fff;
						}
					}
				}
			}
		}
		/* End rates-table */
	}
	/* End member-rates-modal */
}
/* End dialogContainer */

.ui-dialog{
	padding: 0;
	z-index: 2000 !important;

	.ui-dialog-titlebar{
		.rounded_corners(@dialog-titlebar-corners);
		.gradient(@content-header-startgrad, @content-header-endgrad);
		border-left: none;
		border-right: none;
		border-top: none;

		.ui-dialog-title{
			width: 100%;
		}
	}
	/* End ui-dialog-titlebar */

	.ui-dialog-buttonpane{
		.rounded_corners(@dialog-buttonpane-corners);
		border-top: none;
		padding-top: 0.75em;
		padding-bottom: 0.2em;
		margin-top: 0px;

		.ui-dialog-buttonset{
			float: left;
			width: 100%;
			text-align: center;

			button{
				float: none;
			}
		}
		/* End ui-dialog-buttonset */
	}
	/* End ui-dialog-buttonpane */
}

/* Tooltip overrides */
body{
	.ui-tooltip{
		background: #FFFFFF;
		.rounded_corners(5px);
	    border: 2px solid #dedede;
		color: @standard-font-color;

		.ui-tooltip-content{
			padding: 5px;
			font-size: 0.9em;
		}
	}
}

.ui-slider .ui-slider-tooltip{
	background: #FFFFFF;
	.rounded_corners(5px);
    border: 2px #dedede solid;
	color: @standard-font-color;

	.ttContent {
		font-size: 1.2em;
        font-weight: 900;
        color: #9a9a9a;
        
        span {
            font-weight: 900;
            color: #a2bb52;
        }
	}

	span.ui-tooltip-pointer-down{
		border-left: 8px dashed transparent !important;
        border-right: 8px dashed transparent !important;
        border-top: 8px dashed #DEDEDE !important;
        left: 6.25em;
        top: auto;
        bottom: -8px;

		span.ui-tooltip-pointer-down-inner{
            border-left: 6px dashed transparent;
            border-right: 6px dashed transparent;
            border-top: 6px solid #FFFFFF;
            border-top-color: #FFFFFF !important;
            top: -8px;
            left: -6px;
		}
	}
}
.ui-tooltip-header-links {
   max-width: none;

   &.qtip-default {
        .rounded_corners(5px);
        border: 2px #dedede solid;

        .qtip-tip {
            width: 0px;
            height: 0px;
        }


        .qtip-titlebar {
        font-size: 1.4em;
            background: #fff;
            color: #a2bb52;

            .qtip-close.qtip-icon {
                backround: #CCC;
                .rounded_corners(10px);
            }
        }
        .qtip-content{
           background: #fff;
           font-size: 1.2em;
           max-width: none;
           width: auto;

           .heading{
              color: #e09d2c;
              font-size: 1.4em;
              font-weight: bold;
              margin-bottom: 10px;
           }
           .instructions {
              color: #707070;
              margin: 0px 0px 10px 2%;
           }
           .content{
                color: #707070;
                margin-bottom: 10px;
               line-height: 12px;
           }
           div {
               line-height: 20px;
           }
        }
    }
}
/* slider bars */
.slider-group{
     label{
	    text-align: left;
		width: 40%;
		margin: 10px 0;
	 }
 }
	.ui-widget-content{
	     border: 1px solid #888;
         background: #fff;
		 color: #888;
	}
	.ui-slider-horizontal, .ui-slider{
        .clearfix;
	    height: 0.4em;

        span.ui-slider-tic {
            height: 0.4em;
        }

		.ui-slider-handle {
		    background: url('../images/slider-control.png') no-repeat;
			border: none;
			cursor: pointer;
			height: 30px;
            margin-left: -1em;
            top: -.5em; /*NE Branding*/
			width: 30px;
		}
	    .ui-state-hover .ui-slider-tooltip, .ui-state-focus .ui-slider-tooltip{
				 bottom: 3.5em;
			     left: -2.0em;

			     .ui-tooltip-pointer-down-inner{
			        border-top-color: #64afd8 !important;
		         }
			}

	}

/*
// 	.alert-dialog{
// 		@shadow: inset 0px 2px 7px -2px #999;
// 		.box_shadow(@shadow);
// 		.dialogContainer{
// 			font-size: 0.8em;

// 			.instructions{
// 				margin-top: 5px;
// 				padding-left: 15%;
// 				width: 85%;
// 				min-height: 24px;
// 			}
// 		}


// 		&.warning{
// 			border: 1px solid @gold;
// 			border-bottom: none;

// 			.dialogContainer{
// 				.instructions{
// 					//Insert warning image
// 				}
// 			}

// 			+.ui-dialog-buttonpane{
// 				border: 1px solid @gold;
// 				border-top: none;
// 			}
// 		}


// 		&.confirm{
// 			border: 1px solid @green;
// 			border-bottom: none;

// 			.dialogContainer{
// 				.instructions{
// 					//Insert confirm image
// 				}
// 			}

// 			+.ui-dialog-buttonpane{
// 				border: 1px solid @green;
// 				border-top: none;
// 			}
// 		}

// 	}

 }
 */





/* ----- Override Styling for the Pop-up box in Plan Selection ----- */
.ui-dialog {
    float: left;
    background: none;
    border: 5px #cdcdcd solid;
    .rounded_corners(10px 10px 10px 10px);
    font-family: 'OpenSansRegular', sans-serif;
    font-weight: 500;


    /* -- The Heading of the Dialog Box -- */
    .ui-dialog-titlebar {
        float: left;
        width: 95%;
        height: 40px;
        background: @top-bar-bg; /*NE Branding*/
        border-bottom: 0px #cdcdcd solid;
        .rounded_corners(5px 5px 0px 0px);

        .ui-dialog-title {
            color: #FFFFFF;
            margin: 0px 0px 0px 10px;
            font-size: 26px;
            line-height: 40px;
        }

        button.ui-dialog-titlebar-close {
            height: 40px;
            color: #FFFFFF;
            font-size: 16px;
            float: right;
            border: none;
            margin: -20px 0px 0px 0px;
            cursor: pointer;
            background: none;
            .rounded_corners(0px 5px 0px 0px);

            &:hover {
                background: #de9d2f;
            }
        }
    }

    /* -- Content of the Dialog Box -- */
    .ui-dialog-content {
        clear: both;
        border: none;
        .rounded_corners(0px 0px 5px 5px);
        background: #FFFFFF;
        float: none;
        width: 100%;

        .dialogContainer {
            float: left;
            width: 100%;
            background: #FFFFFF;
            margin: 0px 0px 0px 0px;
        }

        .half-section {
            min-height: 160px;
            width: 49.9%;
            border: none;
            margin: 10px 10px 10px 10px;

            &.left {
                width: 40%;
            }

            &.right {
                width: 52%;
            }
        }

        .dialog-buttons{
        	a{
        		color: #FFFFFF;
        	}
        }

        .full-section {
            border-top: 1px #cdcdcd solid;
            margin: 10px 10px 0px 10px;
            padding-top: 10px;
        }

        .full-section, .half-section {

            .heading {
                color: @default-heading-color; /*NE Branding*/
            }

            .plan-card {
                .product-line {
                    text-align: center;
                    border-bottom: 1px #cdcdcd solid;
                }
            }
			/*NE Branding*/
            .dialog-buttons {
                a.btn_primary, a.btn_primary:hover, a.button {
                   /* margin: 0px;
                    border: 1px #cdcdcd solid;
                    padding: 12px 10px;
                    max-width: 75%;
                    width: 51%;
                    overflow: visible;
                    font-size: 14px;
                    color: #FFFFFF;*/
					 font-size: 1.5em;
					 margin: 0;
					 padding: 5px;
                }
                a.button {
                    /*margin: 0px;
                    border: 1px #cdcdcd solid;
                    padding: 10px 10px 10px 10px;
                    float: left;
                    min-width: 15%;
                    color: #2A5770;*/
                }
            }
			/*NE Branding*/
        }
		
		/* NE Branding :: Add to cart model popup rdiers styling SHSBCBSNE-362 */
		&#shopping-modal{
			.plan-card{
				background: #fff;
				margin: 10px 8px 10px 1%;
				border: 6px solid #d5d5d5;
				width: 26%;
				.product-line{
					color: #005273; 
					font-size: 16px;
					margin-bottom: 10px;
					border-bottom: none;
					text-align: left;
				}
				.plan-name{
					font-size: 14px;
					margin-left: 0px;
					color: @red-color;
					text-align: left;
					min-height: 10px;
					padding-left: 0;
				}
				.plan-rate{
					margin-left: 0px;
					.rate{
						font-size: 20px;
					}
				}
				.dialog-buttons{
					a.btn-utility{
						font-size: 16px;
						padding: 5px 25px;
					}
				}
				.selected-products{
					.rate{
						font-size: 1.4em;
					}
				}
			}		
		}
		/* NE Branding :: Add to cart model popup rdiers styling SHSBCBSNE-362 */
    }
}

.carousel-container.subsidy .subsidy-questions{
	min-height: 486px;
	background: none repeat scroll 0 0 #FFFFFF; /*NE Branding*/
	width: 100%; /*NE Branding*/
	.two-third-section{
		.heading{
			background: url(../images/subsidy-eligibility-icon.png) 0 10px no-repeat;
			padding-left: 11.7%;
		}
	}
}

.carousel-container.content-section{
	.full-section{
		.heading.demographics-icon{
			background: url('../images/DemographicsSEicon.png') no-repeat 0 3px;
			padding-left: 7.7%;
			padding-top: 10px;
			padding-bottom: 10px;
		}
		/* NE Branding US:SHSBCBSNE-32 */
		&.special-enrollment{
			.heading{
				width: 85%;
				margin: 2%;
				font-family: Arial,Helvetica,sans-serif;
			}
			.question-section{
				margin: 0 0 2% 2%;
				width: 98%;
				.dataGroup{
					.checkBoxFields{
						float: left;
						width: 60%;
						color: #707070;
						.checkBox-option-div{
							width: 98%;
							label{
								width: auto;
							}
						}
						.note-txt{
							font-size: 11px;
							margin-left: 25px;
							float: left;
							margin-top: -20px;
						}
					}

					.info-section {
						background: #dff2f9;
						height: auto;
						padding: 20px;
						width: 29%;
						min-height: 210px;
						margin-top: 0;
						color: #019ae5;
						border: none;
						.event-information{
							label{
								float: left;
								width: 100px;
								color: #019ae5;
								text-align: right;
								margin-right: 5px;
							}
							input[type="text"]{
								width: 120px;
								border: 1px solid #a1ddf1;
							}
						}
					}
					
					.special-enroll-text{
						 padding: 0 10px;
						p{
							width: 100%;
							color: #707070;
							font-size: 14px;
							margin-top: 15px;
							line-height: 1.5em;
							a{
								color: #019ae5;
								text-decoration: underline;
							}
						}	
					}
				}
			}
			
		}
		/* NE Branding US:SHSBCBSNE-32 */
	}
	
	
	
}

.carousel-container.content-section .full-section{
	.heading{
		padding: 0 0 0 0;
	}
}

/* ----- Stying for the Initial Subsidy Questions Page ----- */

.carousel-container.subsidy .subsidy-questions, .carousel-container.content-section .full-section {

    .two-third-section, .third-section {
        .heading {
            color: #34a2da;
            font-size: auto;
            margin: 0px 0px 0px 0px;
            text-align: left;
            width: auto;
        }

        .instructions, .subheading, .healthcare-needs {
            margin: 0px 0px 0px 0px;
            padding: 0px 0px 0px 0px;
            width: auto;
        }

        .full-section {
            float: left;
            width: 100%;
            margin: 1% 0px 1% 0px;
            padding: 0px 0px 0px 0px;
        }

    }

    .two-third-section {
        margin: 2% 0px 2% 2%;
        float: left;
        width: 60%;
    }

    .third-section {
        margin: 2% 2% 2% 0px;
        padding: 2% 2% 5% 2%;
        background: #f1f1f1;
        float: right;
        &.subsidy-sidebar{
        	padding: 2% 2% 1% 2%;
        	height: 415px;
		 /*NE Branding*/
			.btn_primary{
				margin-left: 0px;
			}
        	 /*NE Branding*/
        	#notEligible{
        		margin-top: 20px; /*NE Branding*/

        		.heading{
        			color: #ad382f;
        		}
				.btn_primary{
					padding: 5px 28px; /*NE Branding*/
				}
        	}

        	#isEligible{
        		margin-top: 20px; /*NE Branding*/
        		/*background: url(../images/subsidy-likely-icon.png) 2% 2% no-repeat;*/ /*NE Branding*/
        		a{
        			/*width: 81%;*/ /*NE Branding*/
					
					&.btn-utility {
					    padding: 0.6em 1.6em;
					}
        		}

        		.help-text{
        			font-style: italic;
        		}

        		.heading{
        			/*padding-top: 22%; */ /*NE Branding*/       			
					color: #A2BB52;
        		}
				.btn_primary{
					padding: 5px 28px; /*NE Branding*/
					width: auto; /*NE Branding*/
				}
        	}
        	.heading{
    			clear: both;
				display: block;
				font-size: 1.7em;
				color: #34a2da;
				font-family: 'OpenSansRegular', sans-serif;
    		}
        }
    
    }

    .section-buttons {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
        width: 100%;

        .btn-utility {
            float: left;
            margin: 10px 5px 5px 5px;
        }

        .btn_primary {
            margin: 5px 5px 5px 0px;
        }
    }

    a.inline-link {
        line-height: 40px;
    }

}

.ui-dialog .ui-dialog-titlebar button.ui-dialog-titlebar-close:hover, .ui-button-icon-only .ui-button-text, .ui-button-icons-only .ui-button-text{
	.rounded_corners(3px);
	background: #b6e1f8;
	padding: 0 0.4em;
}

.ui-dialog .ui-dialog-titlebar .ui-dialog-title{
	font-size: 1.1em;
	line-height: 25px;
}

.ui-dialog .ui-dialog-titlebar{
	height: 26px;
}

.ui-dialog .ui-dialog-titlebar button.ui-dialog-titlebar-close{
	margin: -11px 3px 0px 0px;
	font-size: 1.2em;
	height: 21px;

}

// slider styling
.ui-widget-content{background: #bacfd8; border: none;} /*NE Branding*/
.ui-slider-horizontal, .ui-slider{height: .8em; margin-top: 62px; /*border: 5px solid #BACFD8;*/ }        /*NE Branding*/
.dataGroup.slider-group .ui-slider-label-show{width: 85px !important; margin-left: -42px !important; color: #1e1e1e; font-weight: bold; font-size: 1.1em;} /*NE Branding*/
.ui-slider-horizontal .ui-slider-handle, .ui-slider .ui-slider-handle{margin-left: -.7em; top: -2.7em;}
.ui-slider .ui-state-hover .ui-slider-tooltip, .ui-slider .ui-state-focus .ui-slider-tooltip { width: 12em; padding: 5px; }
.ui-slider .ui-slider-tooltip .ui-tooltip-pointer-down{border-left: 12px dashed transparent  !important; border-right: 12px dashed transparent  !important; border-top-width: 13px dashed transparent  !important; bottom: auto; top: 5em; left: 5.8em;}
.ui-slider-horizontal .ui-state-hover .ui-slider-tooltip .ui-tooltip-pointer-down-inner, .ui-slider .ui-state-hover .ui-slider-tooltip .ui-tooltip-pointer-down-inner{border-top-color: #de9d2f !important;}

/*Provider dialog*/
.providerDialog{
    top: 0px !important;
	
	.ui-dialog-titlebar{
	    width: 96%;
	}
}

body.employee{
	.data-section{
		&.general-section{
			.btn_getstarted{
				margin-top: 15px;
			}

			.days-left{
				.welcome-text{
					&.top{
						font-size: 1.4em;
						line-height: 110%;
						margin-top: 5px;
						word-wrap: break-word;
					}
				}
			}

			.section{
				.match-list{
					width: 90%;
					margin-left: 10%;
					margin-top: 10px;
					margin-bottom: 10px;
					font-size: 0.9em;
				}
			}
		}
	}
}
/* End employee shopping overrides */

.blockUI{
	z-index: 9999 !important;
}

.ui-datepicker{
	z-index: 9000 !important;
}