@media print{
	.dialogContainer .dialog-buttons{
		display: none !important;
	}

	.data-section {
		/* Print plan functionality */
		&.print-plan{
			background: #FFFFFF;


			.plan-container{
				width: 50%;
			}

			.plan-details{


				.plan-select{
					display: none;
				}

				.plan-rate{
					.rate, .rate-term{
						display: none;
					}
				}
				/* End plan-rate */

				.plan-tabs{
					display: none;
				}

				.plan-name{
					max-width: 90%;
					margin: inherit 0px;
					font-size: 1.8em;

				}

				.cost-breakdown{
					clear: both;
					float: left;
					margin-top: 10px;
				}

				.cost-breakdown-link{
					display: none;
				}
			}
			/* End plan-details */

			.plan-description{
			    font-size: 80% !important;
				.description-links{
					display: none;
				}
				.benefit-details-table tr td {
                  font-size: 0.8em !important;

				   .subheading {
				       //font-size: 1em;
				   }
				}
			}
			/* End plan-description */

			.plan-card{
				margin: 0px 2% 0px 0px;
				width: 35%;

				.bar-wrapper {
					.value { font-size: 0.9em; }
				}

				.section-toggle { display: none; }

				.cost-estimation-chart{
					.bar-label{
						font-size: 0.7em;
						margin-top: 7px;
					}

					.bar-wrapper{
						.ui-progressbar{
							height: 30px;
						}
						.ui-progressbar-value{
							border: 1px solid #d5d5d5;
							max-width: 80%;
						}

						&.expected{
							.ui-progressbar-value{
								background: #a7df2f;
							}							
						}
					}
				}

				.refresh-link{
					margin-top: 25px;
				}
			}
			/* End plan-card */
		}
		/* End print plan functionality */

		/* CSS transition fixes */
		.method-action{
			opacity: 1 !important;
		}

		.content-section[data-liffect="fadeIn"] .plan-card{
			opacity: 1 !important;
		}
		/* End CSS transition fixes */
	}
	/* End data-section */
}