.appContainer{
	table{
		th{
			.box_shadow (@th-box-shadow);
			.text_shadow (@th-text-shadow);
			background: @th-bg;
			padding: @th-padding;
			color: @default-heading-color; /*NE Branding*/
			margin-bottom: 10px;
			font-size: 1.3em;
		}

		tbody{
			tr{
				td{
					.remove-link{
						padding: 10px 0;
					}
				}
			}
		}
	}
	/* End default table styles */
}
/* End appContainer */

.data-section{
	.benefit-details-table{
		float: left;
		margin: 5px 0px 15px 0px;

		tr{
			td{
				padding: 8px 2%;
				border-bottom: 1px dashed @border_color;
				font-size: 1.2em;

				&:first-child{
					width: 26%;
					font-weight: bold;
				}

				.subheading{
					font-size: 1.3em;
				}
			}
		}

		.subheading{
			color: @primary_color;
		}
	}

	.coverage-household { margin: 0 60px; }

	.coverage-table{
		margin: 0 2.5% 2.5% 2.5%;
		width: 95%;

		thead{
			height: auto;

			input{
				margin-left: 0px;
			}

			label{
				float: none;
				width: auto;
				text-align: left;
				margin-top: 13px;
				color: @nav-action-active-bgstart;
			}

			th{
				padding-left: 10px;
				border-bottom: 1px solid @border_color;

				&.firstname-cell{
					width: 350px;
				}

				&.relationship-cell{
					width: 300px;
				}

				&.birthdate-cell{
					width: 175px;
				}

				&.gender-cell{
					width: 125px;
				}

				&.smoker-cell{
					width: 100px;
				}

				&.remove-cell{
					width: 125px;
				}

				&.product-line{
					min-width: 72px;
				}
			}
		}

		tbody{
			td{
				padding: 0px 5px 6px 6px;
				vertical-align: bottom;

				&.remove-cell{
					vertical-align: middle;
				}

				&.product-cell{
					vertical-align: middle;
				}
			}
		}

		th, td{
			&.smoker-cell{
				/*border-right: 1px solid @border_color;*/
				padding-right: 5px;
			}
		}

		input{
			margin-top:10px;

			&[type="text"]{
				width: 88%;
				max-width: 230px;
			}
		}

		select{
			width: 85%;
			max-width: 230px;
		}

		.read-only{
			font-size: 1.2em;
			margin: 5px;
			float: left;
		}
	}
	/* End coverage-table */

	table.healthcare-needs-table{
		.clearfix;
		float: right;
		width: 95%;
		font-size: 1.2em;
		margin-top: 8px;

		td{
			padding: 5px 5px 20px 5px;
			vertical-align: top;
			min-width: 125px;
			background: transparent;

			&.name-cell{
				width: 50px;
			}

			.table-actions{
				.clearfix;
				float: left;
			}
		}

		thead{
			th{
				background: transparent;
				padding-top: 5px;
				font-size: 1.1em;
				color: @subheading-font-color;
				
				&:first-child{
					width: 15%;
				}
			}
		}

		.sub-label{
			margin: 0px;
		}
	}
	/* End healthcare-needs-table */
}
/* End data-section */