//Shopping module-specific inputs
/*
TODO: Remove when these are in palce
Header links colors: 
  call: 9a9a9a 
  messages: 419aa2
  chat: a2bb52 
  help: 3f9ccc 
  cart: 484747
  page heading: 444444
  section heading: 34a2da
  section instructions: 0c426b
  label: 707070  
  primary button startgrad/endgrad: f1ba5d/e09c2a
*/
/* Overwriting IA variables */
@page_bg:				#FFF url("../images/bg-body2.jpg") top center no-repeat; /*NE Branding 2*/
@red-color: 			#aa272f; /*NE Branding*/
@primary_button:		#dd9c2d;
@primary_button_minor:	#edb75c;
@page-title-color:          #444;
@linkColor:    		        @red-color; /*NE Branding*/
@labelColor: 			#707070;
@labelmargin: 			44%;
@longlabelmargin: 		50%;
@primary_color: 		#0099cc; /*NE Branding*/
@secondary_color: 		#5085B6;
@border_color:			#BFBFBF;
@errorbgcolor:			#FFF0DF;

/* Layout variables */
@header-width:				960px;
@header-margin:				46px auto 0px auto;
@header-padding:			0px 20px 20px 20px;
@header-bg:					#FFFFFF;
@header-shadow: 			       2px 2px 3px rgba(0,0,0,.1);
@footer-width:				1020px;
@footer-margin:				-510px;
@appContainer-width:		960px;
@appContainer-min-height:	none;
@appContainer-margin:		-20px auto 0px auto; /*NE Branding*/
@appContainer-bg:			#FFFFFF;
@appContainer-padding:		0px 20px 20px 20px;
@appContainer-shadow: 		none;
@progbar-width:				100%;
@progbar-margin:			30px 0 15px 0;
@progbar-ul-corners:		5px;
@progbar-ul-height:			39px;
@progbar-ul-padding:		0px;
@progbar-ul-bg:				transparent;
@progbar-ul-shadow: 		      inset 0 1px 1px rgba(0,0,0,.1);
@progbar-li-height:			40px;
@progbar-li-width:			33.2%;
@progbar-li-padding:		0 2px;
@progbar-li-size:			1.3em;
@progress-bar-bg:			#D6D6D6;
@progress-bar-padding:		0.25%;
@progress-bar-height:		13px;
@progress-bar-li-height:	12px;
@progress-bar-li-width:		32.6%;
@progBarTextColor:			#999;
@button-shadow: 			inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
@defaultFontFamily:   		Arial,Helvetica,sans-serif; /*NE Branding*/

/*NE Branding Variables*/
@content-section-bg:  #1186b4;
@default-heading-color: #0099cc;
@top-bar-bg: #005273;
@light-blue-bg: #dff2f9;
@electricBlue-shopping: #1186b4;
@light-grey-bg: #EAEBEC;
@home-red-color: #bb2034;
@home-shop-heading :#0080be ;

/* header variables */
@logo-width:				25%;
@header-link-color:			#A2BB52;
@header-actions-width:		23%;
@header-actions-margin:		20px 0px 0px 0px;
@topbar-start:                         #7c7c7c;
@topbar-end:                            #7c7c7c;

/* data-section variables */
@data-section-startgrad:	#F4F4F4;
@data-section-endgrad:		#CA0000;
@data-section-corners:		0;
@data-section-margin:		0;

/* sidebar variables */
@sidebar-width:				20%;
@sidebar-padding:			0px;
@sidebar-margin:      10px 0px 0px 0px;
@sidebar-float:				left;
@sidebar-border:      1px solid @border_color;
@sidebar-corners:     5px;
@sidebar-section-width:		100%;
@sidebar-section-padding:	0px;
@sidebar-section-margin:	0px;
@sidebar-section-closed-bg:	#dff2f7; /*NE Branding*/
@sidebar-heading-bg:      #e1e1e1;
@sidebar-heading-size:		1.3em;
@sidebar-heading-weight:	bold;
@sidebar-heading-margin:	5px 0px 5px 10px;
@sidebar-subheading-size:	1.4em;
@sidebar-subheading-margin:	5px 0px;
@filter-status-size:		1.5em; /*NE Branding*/
@filter-status-padding:		4px 10px 0 5px; /*NE Branding*/
@sidebar-title-weight: normal;
@sidebar-title-bg:      none;
@filter-status-width:		14px;
@filter-status-height:  14px;
@filter-status-bg:        #FAFAFA;
@filter-status-border:    1px solid @border_color;
@filter-reset-link-size:	0.65em;
@filter-hidden-margin:		8px 0% 0px 3%;
@disabled-label-color:		#AAAAAA;

/* content-section variables */
@content-section-width:		100%;
@after-sidebar-width:		79.7%;
@content-section-startgrad: #fff;
@content-section-midgrad:	#fff;
@content-section-endgrad:   #d9edf7;
@content-section-stop-loc:	85%;
@content-section-min-height:55px;
@content-section-corners:	8px;
@content-instructions-width: 55%;
@content-instructions-size:	1.1em;
@content-instructions-margin: 5px 0px 10px 23%;


/* content-header variables */
@border_color_content_hdr: lighten(@nav-bg, 30%);
@content-header-startgrad:	#8DC4E2;
@content-header-endgrad:	#74A4BE;
@content-header-corners:	4px 4px 0 0;
@content-header-height:		47px;
@content-header-padding:	20px 0 5px 0;
@content-title-color:		#005172; /*NE Branding*/
@content-title-weight:		bold;
@content-title-font-size:	36px; /*NE Branding*/
@content-title-margin:		5px 0px 10px 0px;
@inline-actions-width:		69%;
@inline-link-color:			#777;
@inline-link-margin:		3px 0% 0px 5%;

/* content-tools variables */
@plan-number-size:			2em;
@plan-number-color:			#fff; /*NE Branding*/
@content-tools-width:		80%;
@content-tools-bg:			@carousel-bg;
@plan-number-margin:		0px 2% 0px 0%; /*NE Branding*/
@plan-number-size:			2em; /*NE Branding*/
@plan-number-active-color:	#fff; /*NE Branding*/
@sidebar-title-size:		1.6em;
@sidebar-title-weight:		bold;
@sidebar-title-color:		#005273; /*NE Branding*/
@sidebar-header-width:	 	16%;
@sidebar-header-height:		21px;
@sidebar-header-padding:	6px 2%;
@sidebar-header-margin:		13px 2% 0px 0%;
@sidebar-header-bg:			#F4F4F4;
@sidebar-header-corners:	5px 5px 0 0;
@sidebar-dropdown-padding:	0% 2%;
@sidebar-dropdown-width:	17%;
@sidebar-dropdown-margin:	45px 0% 0px -22.25%;
@sidebar-dropdown-title-margin:	10px 0px;
@toolbar-width:				98%;
@toolbar-height:			45px;
@toolbar-padding:			0% 0% 0% 2%;
@tools-hanger-width:		20%;

/* content-hanger variables */
@content-hanger-bg:			#FFFFFF;
@content-hanger-width:		17%;
@content-hanger-height:		47px;
@content-hanger-padding:	5px .5%;
@content-hanger-margin:		.5%;
@content-hanger-corners:	5px;
@content-hanger-shadow: 	inset 0px 0px 135px @primary_button;
@hanger-title-font-size:	1.4em;
@hanger-title-font-weight:	bold;
@hanger-content-font-size:	2em;
@hanger-color:              #598203;

/* heading and subheading variables */
@heading-font-size:			2.5em;
@heading-font-weight:		bold;
@subheading-font-size:		2.5em;
@subheading-font-color:		#34a2da;
@instructions-width:		95%;
@instructions-margin:		1% 0 10px 2%;
@instructions-font-size:	1.8em;
@instructions-font-color:	#707070; /*NE Branding*/
@standard-font-color:		#707070;
@heading-font-color:		#0099cc; /*NE Branding*/
@heading-indented-margin:	10px 0px 0px 3%;
@instructions-indented-margin-l: 3.5%;
@instructions-line-height:	150%;

/* section-buttons variables */
@section-buttons-float:		left;
@section-buttons-margin:	5px 0 5px 0px; /*NE Branding*/
@section-buttons-bg:		#f1f1f1;
@section-buttons-corners:	0 0 8px 8px;

/* Indicator variables */
@indicator-off-state:			#FFF;
@indicator-off-link:			#c1c1c1;

/* carousel-container variables */
@carousel-container-startgrad:	#DDD;
@carousel-container-endgrad:	#E3E3E3;
@carousel-full-section-bg:		#FFFFFF;
@carousel-full-section-height:	300px;
@carousel-full-section-margin:	1%;
@carousel-full-section-corners:	8px;
@carousel-scroll-width:			1.5%;
@carousel-scroll-margin:		40px 10px;
@carousel-scroll-height:		100px;
@carousel-scroll-bg:			transparent;
@scroll-icon-top:				40px;
@scroll-left-icon-position:		-15px;
@scroll-right-icon-position:	-10px;
@carousel-progress-width:		99.5%;
@carousel-progress-margin:		10px 2% 0px 2%;
@carousel-progress-list-width:	88%;
@carousel-progress-item-width:	auto;
@carousel-progress-item-minwidth: 7%;
@carousel-progress-item-margin:	0 0 0 10px;
@carousel-progress-item-align:	center;
@carousel-progress-item-padding: 5px 12px;
@carousel-progress-anchor-color: #FFF; // Changed for the hidden tab bug /*NE Branding*/
@carousel-progress-anchor-weight: bold;
@carousel-progress-anchor-size:	1.3em;
@carousel-progress-info-size:	1.3em;
@question-instructions-size:	27px; /*NE Branding*/
@question-helptext-size:		1.2em;
@carousel-bg:					#005273; /*NE Branding*/
@paging-button-margin:			1% 2%;
@paging-link-float:				left;
@paging-link-size:				1.5em;  /*NE Branding*/
@paging-link-margin:			15px 0px 0px 0px;  /*NE Branding*/
@paging-link-padding:			0% 1%;
@paging-link-border:			1px solid @border_color;

/* pagination variables */
@pagination-font-size:  1.1em;
@pagination-bg:         #CCCCCC;
@pagination-color:      #555555;
@pagination-active-bg:  #3f9ccc;
@pagination-active-color: #FFFFFF;
@pagination-active-weight: bold;
@pagination-corners:    0px;
@pagination-margin-right: 2px;
@pagination-padding:      0px 5px;

/* various section variables */
@full-section-width:				98%;
@full-section-bg:				       #fff;
@full-section-padding:				10px 0px;
@full-section-margin:				0 auto 5px; /*NE Branding*/
@full-section-border:				10px solid #dedede;
@half-section-width: 				48.5%;
@half-section-padding: 				10px 1% 10px 1%;
@half-section-margin: 				1% 0 1% 1%;
@question-section-width:			62%;
@question-section-height: 			75%;
@question-section-margin:			0px 0px 25px 0px;
@question-section-padding:			10px 2% 10px 5%;
@question-section-border:			1px solid @border_color;
@info-section-width:				30%;
@info-section-margin:				2% 2% 2% 0;
@info-section-padding:				0px 2% 2%; /*NE Branding*/
@info-section-height:				280px;
@info-section-corners:				0 8px 8px 0;
@info-section-bg:					#FFF; /*NE Branding*/
@paging-section-float:				left;
@paging-section-margin:				5px 0 -10px 0;
@paging-section-bg:					#dfdfdf;
@paging-section-corners:			0 0 8px 8px;
@benefit-section-bg:				#FFFFFF;
@benefit-section-width:				99%;
@benefit-section-min-height: 		234px;
@benefit-section-margin: 			0px;
@benefit-section-corners:			8px;
@benefit-section-inner-width: 		21%;
@benefit-section-inner-padding:		0px 2%;
@benefit-section-inner-size:		1.1em;
@benefit-section-hasIcon-width:		88%;
@benefit-section-value-color:		#0099cc; /*NE Branding*/
@empty-plans-padding:				30px 0px;
@empty-plans-align:					center;
@empty-plans-color:					#555555;
@description-section-corners:		8px;
@description-section-bg:			#E9F2D6;
@description-section-padding:		2% 2% 2% 6%;
@description-section-width:			27%;
@see-compare-plans-bg:				#fff; /*NE Branding*/
@shop-for-plans-start:        #FFF; /*NE Branding*/
@shop-for-plans-end:          #FFF; /*NE Branding*/
@shop-for-plans-heading-color: #de9d2f;
@quote-dropdown-start:        #F0F0F0;
@quote-dropdown-end:          #E2E2E2;
@quote-details-bg:            #FFFFFF;

/* method variables */
@method-choices-width:				95%;
@method-choices-margin:				25px 0 0 0;
@method-action-width:				25%;
@method-action-align:				center;
@method-action-margin:				0% 3% 0% 3%;
@method-action-startgrad:			#E6B560;
@method-action-endgrad:				#E39F2C;
@method-action-inactive-startgrad:	#DDD;
@method-action-inactive-endgrad:	#C5C5C5;
@method-action-border:				1px solid darken(@method-action-startgrad, 10%);
@method-action-inactive-border:		1px solid #AAA;
@method-action-min-height:			95px;
@method-action-min-width:			95px;
@method-action-icon-margin:			15px 0px 10px 0px;
@method-action-icon-margin-hover:	0px 0px 10px 0px;
@method-action-icon-height:			75px;
@method-action-icon-corners:		8px;
@method-icon-margin:				12px 0px 0px 0px;
@method-action-title-size:			1.3em;
@method-action-title-weight:		bold;
@method-action-title-padding:		10px 0 5px 6px;
@method-active-icon-glow:			#A9D8F1;
@method-bg:							#f9e4c0;

/* plan-card variables */
@plan-card-bg:          #e1e1e1;
@plan-card-width:				29%; /*NE Branding*/
@plan-card-padding:				8px; /*NE Branding*/
@plan-card-margin:				10px 0% 10px 1.3%;
@plan-card-border:				2px solid @border_color;
@plan-card-startgrad:			#FFFFFF;
@plan-card-endgrad:				#FAFAFA;
@plan-card-corners:				0px; /*NE Branding*/
@plan-card-bg:					#bacfd8; /* For Best match #005273 NE Branding*/
@plan-card-details-padding:		5px 3%;
@plan-card-details-margin:		22px 0px 0px 0px; /*NE Branding*/
@plan-card-details-corners:		3px;
@plan-card-details-bg:			#FFFFFF;
@card-section-padding:			0px 7px 7px 7px; /*NE Branding*/
@plan-level-size:				1.4em;
@plan-title-size:				1.8em; /*NE Branding*/
@plan-title-height:     		60px; /*NE Branding*/
@plan-title-width:      97%; /*NE Branding*/
@plan-title-margin:     -15px 0 0 -3%;
@plan-title-padding:    5px 3%; /*NE Branding*/
@plan-title-bg:         none;
@plan-rate-size:				2.4em;
@plan-rate-term-size:			1em;
@plan-subheading-size:			1.35em; 
@plan-labels-weight:			bold; /**NE Branding**/   
@plan-subheading-bg:      #e1e1e1;
@plan-subheading-margin:  0 0 0 -6%;
@plan-subheading-padding: 12px 5%;
@plan-subheading-corners: 0px;
@plan-subheading-width:   99.5%;
@plan-chart-margin:				-2px 2% 5px -1%;
@plan-chart-float:				right;
@plan-select-size:				1.8em;
@plan-select-width:				81%;
@plan-broker-btn-height:  24px; 
@plan-broker-btn-size:      1.1em;
@plan-container-width:			70.85%;
@plan-details-width:			100%;
@plan-tab-corners:				5px 5px 0 0;
@plan-tab-width:				20%;
@plan-tab-font-size:			1.5em;
@plan-tab-bg:					#FFFFFF;
@plan-tab-padding:				6px 2%;
@plan-tab-margin:				13px 2% 0px 0%;
@plan-tab-height:				21px;
@plan-description-width:		90%;
@plan-description-padding:	0px 3% 10px 3%;
@plan-description-margin:		10px 0% 20px 2%;
@plan-description-bg:			#EAEBEC;   /*NE Branding*/
@plan-description-font-size:	1.3em;
@plan-description-corners:		0 8px 8px 8px;
@marked-plan-title-color:		#EAEAEA;
@marked-plan-title-size:		1.8em;

/* cost-breakdown variables */
@breakdown-monthly-width:		40%;
@breakdown-monthly-margin:		2px 5% 2px 0%;
@breakdown-monthly-size:		1.2em;
@breakdown-contribution-color:	orange;
@breakdown-rate-size:			1.8em;
@breakdown-rate-color:			#0099CC;
@breakdown-describer-color:		#666;
@breakdown-describer-width:		55%;

/* cost-estimation-chart variables */
@estimation-chart-width:		95%;
@estimation-chart-margin:		10px 0% 10px 5%;

/* dataGroup variables */
@hasIcon-padding-left:			12%;
@toggle-group-width:			  24%;
@dropdown-group-width:			18%;

/* loadable-nav variables */
@nav-shadow: 					inset 0px 3px 1px 0px rgba(0, 0, 0, .25);				 
@nav-width:						100%; /*NE Branding*/
@nav-height:					55px;
@nav-bg:						@top-bar-bg; /*NE Branding */
@nav-corners:       			8px 8px 0px 0px;
@nav-border:					1px solid #D4DEE9;
@nav-action-width:				auto;
@nav-action-margin:				0px;
@nav-action-padding:			0px 3%;  /*NE Branding*/
@nav-action-height:				100%;
@nav-action-shadow:				inset 1px 0 0 rgba(255,255,255,.15);
@nav-action-active-bgstart:		#21688c;
@nav-action-active-bgend:		#174963;
@nav-action-active-shadow: 		0px 1px 5px 0px rgba(0, 0, 0, .15);				 
@nav-title-size:				1.4em;
@nav-multiplier-size:			1.5em;
@nav-multiplier-weight:			bold;    
@nav-action-border-color:		#29607D;  
@nav-action-icon-margin:		5px 0px;    
@nav-action-muted-opacity:		0.4;

/* cost-nav variables */
@cost-nav-width:				98%;
@cost-nav-padding:				10px 1% 0px 1%;
@cost-nav-startgrad:			#FFFFFF;
@cost-nav-endgrad:				#F4F4F4;
@cost-nav-shadow:				6px 1px 8px rgba(0,0,0,0.2);
@cost-nav-corners:				8px 8px 0px 0px;
@cost-nav-action-width:			auto;
@cost-nav-action-margin:		0px 0% 0px 0.25%;
@cost-nav-action-padding:		5px 1.5%;
@cost-nav-action-corners:		8px 8px 0px 0px;
@cost-nav-action-bg:			#DFDFDF;
@cost-nav-active-bg:			#3f9ccc;
@cost-nav-name-size:      1.3em;
@cost-nav-name-color:     #FFF;
/*@customize-button-startgrad:	#8DC4E2;
@customize-button-endgrad:		#74A4BE;*/

/* welcome page variables */
@welcome-width:					98.7%;
@welcome-padding:				30px 5% 30px 5%;
@welcome-margin-top:			30px;
@welcome-heading-size:			4.5em;
@welcome-heading-color:			#34a2da;
@welcome-card-startgrad:		#FAFAFA;
@welcome-card-endgrad:			#CCC;

/* cart variables */
@cart-heading-margin:			20px 0px 10px 0px;
@cart-button-startgrad:			lighten(@border_color, 20%);
@cart-button-endgrad:			lighten(@border_color, 15%);
@cart-button-width:				8%;
@cart-button-corners:			6px;
@cart-button-border:			1px solid lighten(@border_color, 15%);
@cart-button-padding:			0.5%;
@cart-number-size:				1.6em;
@cart-number-weight:			bold;
@cart-number-color:				#FFFFFF;
@cart-title-size:				1.4em;
@cart-title-weight:				bold;
@rate-color:					#0099cc; /*NE Branding*/
@cart-bg:						#E6F1FD;
@cart-default-product-bg: #CA0000;
@cart-medical-bg:     #9A9A9A;
@cart-dental-bg:      @electricBlue;
@cart-life-bg:        #a2bb52;
@cart-vision-bg:      #de9d2f;

/* summary tab variables */
@summary-corners:				8px;
@summary-width:					100%;
@summary-bg:					#EFEFEF;
@summary-subheading-weight:		bold;
@summary-half-section-width:	46%;
@summary-half-section-padding:	0px 0px 0px 2%;
@summary-half-section-margin:	0px 2% 0px 0%;

/* Details page variables */
@details-section-card-corners:	0px 0 8px 0;
@details-section-card-margin:	0px;

/* Match-list variables */
@match-list-icon-width:		16px;
@match-list-icon-margin:	0px 4px 0px 0px;

/* Table variables */
@th-padding:				10px 5px;
@th-weight:					bold;
@th-text-shadow:			0, -1px,  0, #FFFFFF;
@th-box-shadow:				1px, 0, 1px;
@th-color:          #de9d2f;
@th-bg:             #FFFFFF;

/* Ajax loader variables */
@action-indicator-corners:  5px;
@action-indicator-bg-color: #FFF;
@action-indicator-border:   4px solid #50809A;
@action-indicator-margin:   5% 10%;
@action-indicator-padding:  4% 2%;
@action-indicator-text-color: #707070;
@action-indicator-height:			45px;
@action-indicator-bg:				@shop-icon-ajax-loader;
@action-indicator-message-size:		1.2em;
@action-indicator-message-weight:	bold;

/* modal variables */
@print-modal-description-width:		63%;
@print-modal-description-padding:	0% 0% 0% 2%;
@print-modal-breakdown-width:		32%;
@print-modal-breakdown-margin:		0% 2% 0% 0%;

/* dialog variables */
@dialog-font-size:				1em;
@dialog-container-margin:		10px 0px 0px 0px;
@dialog-titlebar-corners:		3px 3px 0px 0px;
@dialog-buttonpane-corners:		0px 0px 5px 5px;
@dialog-title-size:				1.1em;
@dialog-title-margin:			8px 0px 0px 0px;
@dialog-buttons-size:			0.75em;
@dialog-buttons-margin:			20px 0px 0px 0px;
@dialog-heading-size:			1.4em;
@dialog-subheading-size:		1.2em;

/* mega-menu variables */
@mega-menu-flyout-shadow:       6px 1px 8px rgba(0,0,0,0.2);

/* producer dropdown variables */
@producer-info-bg:              #2d779d;
@producer-dropdown-bg:          #FFFFFF;
@producer-dropdown-shadow:      4px 3px 8px rgba(0,0,0,0.2);

/* Icons */
@icon-sprite-url:			"../images/shopping_icons_sprite_08_14_13.png";
@family-member-icons-url:	"../images/family-icons.png";
@default-icon-height:		35px; /*NE Branding*/
@default-icon-width:		24px;

/* This is how the upgraded LESS update will look
@shop-icon-cart:			url(@icon-sprite-url) -40px -164px no-repeat;
*/

/*NE Branding: 2 variables create Error in less parsing please look(just give sample values)*/
@shop-icon-messages-header:  url("../images/shopping_icons_sprite_08_01_13.png") -4px -50px no-repeat;
@sidebar-heading-padding : 0px;
/*NE Branding: 2 variables create Error in less parsing please look*/


@shop-icon-cart:			url("../images/shopping_icons_sprite_08_01_13.png") -40px -164px no-repeat;
@shop-icon-close:			url("../images/shopping_icons_sprite_08_01_13.png") -83px 0px no-repeat; /*NE Branding*/
@shop-icon-remove:			url("../images/shopping_icons_sprite_08_01_13.png") -52px -132px no-repeat;
@shop-icon-email:			url("../images/shopping_icons_sprite_08_01_13.png") -7px -50px no-repeat;
@shop-icon-messages:		url("../images/shopping_icons_sprite_08_01_13.png") -4px -50px no-repeat;
@shop-icon-call:			url("../images/shopping_icons_sprite_08_01_13.png") -83px -163px no-repeat; /*NE Branding*/
@shop-icon-print:			url("../images/shopping_icons_sprite_08_01_13.png") -8px -90px no-repeat;
@shop-icon-compare:			url("../images/shopping_icons_sprite_08_01_13.png") -7px -8px no-repeat;
@shop-icon-cost:			url("../images/shopping_icons_sprite_08_01_13.png") -86px -8px no-repeat;

@shop-icon-coverage:		url("../images/shopping_icons_sprite_08_14_13.png") -124px -6px no-repeat;
@shop-icon-method:			url("../images/shopping_icons_sprite_08_14_13.png") -128px -46px no-repeat;
@shop-icon-needs:			url("../images/shopping_icons_sprite_08_14_13.png") -124px -84px no-repeat;
@shop-icon-preferences:		url("../images/shopping_icons_sprite_08_14_13.png") -127px -124px no-repeat;
@shop-icon-summary:			url("../images/shopping_icons_sprite_08_14_13.png") -124px -164px no-repeat;
@shop-icon-quote:           url("../images/shopping_icons_sprite_08_14_13.png") -164px -169px no-repeat;

@shop-icon-pdf:				url("../images/shopping_icons_sprite_08_01_13.png") -98px -133px no-repeat;
@shop-icon-chart:			url("../images/shopping_icons_sprite_08_01_13.png") -8px -168px no-repeat;
@shop-icon-match:			url("../images/shopping_icons_sprite_08_01_13.png") -12px -213px no-repeat;
@shop-icon-neutral:			url("../images/shopping_icons_sprite_08_01_13.png") -51px -213px no-repeat;
@shop-icon-mismatch:		url("../images/shopping_icons_sprite_08_01_13.png") -90px -213px no-repeat;
@shop-icon-all-plans:		url("../images/shopping_icons_sprite_08_01_13.png") -8px -239px no-repeat;   /*NE Branding*/
@shop-icon-all-active:		url("../images/shopping_icons_sprite_08_01_13.png") -48px -240px no-repeat; /*NE Branding*/
@shop-icon-compare-plans:	url("../images/shopping_icons_sprite_08_01_13.png") -7px -261px no-repeat;  /*NE Branding*/
@shop-icon-compare-active:	url("../images/shopping_icons_sprite_08_01_13.png") -48px -261px no-repeat; /*NE Branding*/
@shop-icon-plan-details:	url("../images/shopping_icons_sprite_08_01_13.png") -93px -239px no-repeat; /*NE Branding*/
@shop-icon-details-active:	url("../images/shopping_icons_sprite_08_01_13.png") -93px -261px no-repeat; /*NE Branding*/
@shop-icon-chat:			url("../images/shopping_icons_sprite_08_01_13.png") -125px -207px no-repeat;  /*NE Branding*/
@shop-icon-help:			url("../images/shopping_icons_sprite_08_01_13.png") -164px -206px no-repeat;  /*NE Branding*/
@shop-icon-arrow:			url("../images/shopping_icons_sprite_08_01_13.png") -93px -98px no-repeat;
@shop-icon-medical:			url("../images/shopping_icons_sprite_08_01_13.png") -128px -242px no-repeat;
@shop-icon-dental:			url("../images/shopping_icons_sprite_08_01_13.png") -171px -242px no-repeat;
@shop-icon-find:			url("../images/shopping_icons_sprite_08_01_13.png") -302px -181px no-repeat;
@shop-icon-build:			url("../images/shopping_icons_sprite_08_01_13.png") -442px -181px  no-repeat;
@shop-icon-browse:			url("../images/shopping_icons_sprite_08_01_13.png") -582px -181px no-repeat;
@shop-icon-pa-prev:			url("../images/shopping_icons_sprite_08_01_13.png")  0px -288px no-repeat;
@shop-icon-pa-next:			url("../images/shopping_icons_sprite_08_01_13.png") -119px -288px no-repeat;
@shop-icon-small:			url("../images/shopping_icons_sprite_08_01_13.png") -199px 0px no-repeat;
@shop-icon-ajax-loader:		url("../images/ajax-loader-grey.gif") no-repeat top;
@shop-icon-info:			url("../images/info.png") 0 0 no-repeat;
@shop-icon-edit:      url("../images/shopping/edit.png") left no-repeat;

/* Disabled-state Icons */
@shop-icon-email-disabled:		url("../images/shopping_icons_sprite_08_14_13.png") -47px -50px no-repeat;
@shop-icon-print-disabled:		url("../images/shopping_icons_sprite_08_14_13.png") -48px -90px no-repeat;
@shop-icon-compare-disabled:	url("../images/shopping_icons_sprite_08_14_13.png") -47px -8px no-repeat;
@shop-icon-coverage-disabled:	url("../images/shopping_icons_sprite_08_14_13.png") -128px -9px no-repeat;
@shop-icon-method-disabled:		url("../images/shopping_icons_sprite_08_14_13.png") -128px -49px no-repeat;
@shop-icon-needs-disabled:		url("../images/shopping_icons_sprite_08_14_13.png") -126px -86px no-repeat;
@shop-icon-preferences-disabled:url("../images/shopping_icons_sprite_08_14_13.png") -128px -127px no-repeat;
@shop-icon-summary-disabled:	url("../images/shopping_icons_sprite_08_14_13.png") -121px -168px no-repeat;
@shop-icon-find-disabled:		url("../images/shopping_icons_sprite_08_14_13.png") -201px -1px no-repeat;
@shop-icon-build-disabled:		url("../images/shopping_icons_sprite_08_14_13.png") -202px -86px no-repeat;
@shop-icon-browse-disabled:		url("../images/shopping_icons_sprite_08_14_13.png") -200px -172px no-repeat;

/* Background position variables for hover */
@shop-icon-find-hover-pos:	-302px -16px;
@shop-icon-build-hover-pos:	-442px -16px;
@shop-icon-browse-hover-pos:-582px -16px;

/* Family member icons */
@shop-icon-adult-male:					url("../images/family-icons.png") -8px 0px no-repeat;
@shop-icon-adult-female:				url("../images/family-icons.png") -40px 0px no-repeat;
@shop-icon-child-male:					url("../images/family-icons.png") -75px 0px no-repeat;
@shop-icon-child-female:				url("../images/family-icons.png") -109px 0px no-repeat;
@shop-icon-adult-male-inactive:			url("../images/family-icons.png") -8px -31px no-repeat;
@shop-icon-adult-female-inactive:		url("../images/family-icons.png") -40px -31px no-repeat;
@shop-icon-child-male-inactive:			url("../images/family-icons.png") -75px -31px no-repeat;
@shop-icon-child-female-inactive:		url("../images/family-icons.png") -109px -31px no-repeat;