// Forms.less
// Base styles for various input types, form layouts, and states
// -------------------------------------------------------------


// GENERAL STYLES
// --------------

// Make all forms have space below them
form {
  margin: 0 0 @baseLineHeight;
}

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}

// Groups of fields with labels on top (legends)
legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: @baseLineHeight * 1.5;
  font-size: @baseFontSize * 1.5;
  line-height: @baseLineHeight * 2;
  color: @white;
  border: 0;
  border-bottom: 1px solid #eee;

  // Small
  small {
    font-size: @baseLineHeight * .75;
    color: @white;
  }
}



// Identify controls by their labels
label {
  display: block;
  margin-bottom: 5px;
  color: @labelColor;
}

// Inputs, Textareas, Selects
input,
textarea,
select,
.uneditable-input {
  display: inline-block;
  height: @baseLineHeight + 4px;
  padding: 2px;
  margin: 4px;
  font-size: @baseFontSize;
  line-height: @baseLineHeight;
  color: #333;
  border: 1px solid @border;
  .rounded_corners(3px);
}
.uneditable-textarea {
  width: auto;
  height: auto;
}

// Inputs within a label
label input,
label textarea,
label select {
  display: block;
}





// Set the height of select and file controls to match text inputs
select,
input[type="file"] {
  height: 28px; /* In IE7, the height of the select element cannot be changed by height, only font-size */
  *margin-top: 4px; /* For IE7, add top margin to align select with labels */
  line-height: 22px;
}

// Reset line-height for IE
input[type="file"] {
  line-height: 18px \9;
}

// Chrome on Linux and Mobile Safari need background-color
select {
  
  background-color: #fff;
  min-width:57px;
}

select {
	&._questionSelection{
	min-width: 150px;
	}
}

// Make multiple select elements height not fixed
select[multiple],
select[size] {
  height: auto;
}



// Make textarea height behave
textarea {
  height: auto;
}

// Hidden inputs
input[type="hidden"] {
  display: none;
}

//Remove border/shadow in IE
input[type="radio"], input[type="checkbox"]{
	border: none;
	.box_shadow(none);
}



// CHECKBOXES & RADIOS
// -------------------

// Indent the labels to position radios/checkboxes as hanging
.radio,
.checkbox {
  padding-left: 18px;
}
.radio input[type="radio"],
.checkbox input[type="checkbox"] {
  float: left;
  margin-left: -18px;
}

// Move the options list down to align with labels
.controls > .radio:first-child,
.controls > .checkbox:first-child {
  padding-top: 5px; // has to be padding because margin collaspes
}

// Radios and checkboxes on same line
// TODO v3: Convert .inline to .control-inline
.radio.inline,
.checkbox.inline {
  display: inline-block;
  padding-top: 5px;
  margin-bottom: 0;
  vertical-align: middle;
}
.radio.inline + .radio.inline,
.checkbox.inline + .checkbox.inline {
  margin-left: 10px; // space out consecutive inline controls
}
/**** End Bootstrap ****/

/**** Ported radio and checkbox, multi group inputs styles from base App Config. ****/
.dataGroup {
    clear: both;
    label {
	    float: left;
		font-weight: bold;
		margin: 10px 0 0 0;
		text-align: right;
		width: (75% - @labelmargin);
	}
    input, textarea, select {
		float: left;
	}
	.read-only {
        float:left;
		width: 40%;
		margin: 10px 5px;
	    max-width: 300px;
	  &.description {
		  color: #275168;
		  font-weight: bold;
	  }/*End description*/
	}/*End read-only*/
	&.action-item {
	   .button{
		  .rounded_corners(3px);
		  height: @baseLineHeight + 4px;
		  padding: 0 3px;
		  min-width: 35px;
		  margin: 7px 4px 4px;
		  font-size: @baseFontSize;
		  line-height: @baseLineHeight + 4px;
		  color: @linkColor;
		  border: 1px solid @border;
		  text-decoration: none;
		  .gradient;
	   }/*End button*/
	   .link {
	       float: left;
		   margin: 10px 5px;
	   }/* end a */
	 }/*End action-item*/
	 /*   Remove left margin for hints on individual multi-fields   */
	.hint-text{
		.clearfix;
		float: left;
		margin-left: 0;
		font-size: 0.8em;
		margin-left: (@labelmargin - 12%);
	}
    .radioFields, .checkBoxFields{
	     //display:block;
	    float:left;
	    width: (100% - @labelmargin);
	    margin: 0.5em;
	    position:relative;

	    .radio-option-div, .checkBox-option-div{
		    display:block;
		    float:left;
		    clear:both;
		    width:auto;
		    position:relative;
		    margin: 3px 0;

		    input[type="radio"], input[type="checkbox"]{
			    float:left;
			    margin-top: 3px;
				line-height: 1.5;
				vertical-align: middle;
		}/*end input*/
		label.radio-choice-label, label.checkBox-choice-label{
		    float:left;
			font-weight: normal;
			font-size: 1.2em;
			color: @labelColor;
			width:auto;
			margin-top: 3px;
			line-height: 1.5;
			vertical-align: middle;
		}/*end label*/
		label.checkBox-choice-label{
			margin-top: 3px;
		}
	}/*End option-div*/
	.radio-explain , .checkbox-explain {
	font-size: 0.9em;
	clear:both;
	margin-bottom: 10px;
	margin-left: 5%;
	//color: @hinttextcolor;
 }/*end explain*/
}/*end Fields*/
  &.inline-inputs {
      .radioFields, .checkBoxFields{
	      
	      .radio-option-div, .checkBox-option-div{
		      width: auto;
			  clear:none;
			  margin-right: 15px;
		      input[type="radio"], input[type="checkbox"]{
			  }/*End input*/
			  label.radio-choice-label, label.checkBox-choice-label{
			  }/*End label*/
			  .radio-explain , .checkbox-explain {
			      .clearfix;
			  }/**/
          }/*End option-div*/
      }/*End Fields*/
  }/*inline-inputs*/
  
  &.multiGroup{	
    .clearfix;
	margin-left: 0;
	label{
		display:block;
		text-align:left;
		font-size: 1.3em;
		float:left;
	}
	.multiFields{
	    margin: 10px 0;
		display:block;
		width: (100% - @labelmargin);
		float:left;
        
		.dataGroup{
			width:auto;
			float:left;
			clear:none;
			.req{
				font-size: 1em;
				//color: @errorcolor;
			}

			a{
				padding-top:9px;
				display:block;
			}
			label{
					margin: .4em 0 0 0.5em;
					width: auto;
					font-size: 1em;
					text-align: left;
			}
			input, textarea, select {
			    .clearfix;
				float: left;
				/*padding: 2px;
				font-size: 1em;
				text-shadow: 0px 1px 0px #fff;
				float: left;
				outline: none;
				margin-top: 2px;
				&:focus{
				}*/
			}
			select {
			    float: left;
			    max-width: 135px;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
		  &.full-width-multi-label {
		      .clearfix;
			  width: 100%;
		      label {
			     text-align: left;
			     width: 95%;
			  }
		  }/*End full-width-multi-label*/
		  
		  &.clear {
		      clear: both;
		  }/*end clear*/
		}/*End dataGroup*/
	}  /*  End .multiFields */
  }  /*  End .multiGroup */
}/*End dataGroup*/
/**** End Ported radio and checkbox, multi group inputs styles from base App Config. ****/


// FOCUS STATE
// -----------
/*
input,
textarea {
  .box_shadow(inset 0 1px 1px rgba(0,0,0,.075));

}
input:focus,
textarea:focus {
  border-color: rgba(82,168,236,.8);
  @shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
  .box_shadow(@shadow);
  outline: 0;
  outline: thin dotted \9;
}
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus,
select:focus {
  .box_shadow(none); // override for file inputs
  
}
*/