@charset "utf-8";
/* Internet Explorer stylesheet */

.sf-menu{
	position: relative;
	z-index: 999;
}

.nav_primary .sf-menu{
	z-index: 1002 !important;
}

.case-nav #secondaryNav{
	z-index: 1001 !important;
}

.nav_primary{
	width: 99.9%;
	height: 35px;
}
input.btn_primary, input.btn_secondary, input.btn_inline,  button.btn_primary, button.btn_secondary, button.btn_inline{
	line-height: 1.25em;
}
#nav_side ul {
	margin-left: 0px;
}
#pagesettingsbuttons a{
	/*width: 150px;*/
}
/*******  Quick Search ***********/
#nav_admin .selectbox {
	background-position: 0 right;
	line-height: 1.25em;
	height: 16px;
}
/*******  end Quick Search ***********/
#container, #pagecontainer, .maincontent, .maincontent_full, .page, .clsPageTitle {
position: relative;
z-index: 1;
}

#census_page .pageTabs {
                margin-left: -40px;
                margin-bottom: 0;
                z-index: 99999;
                height: 45px !important;

}

#census_page ul li.pageTabsActive {
                width: 115px;
                margin-top: 40px;
                margin-right: 0;
}

#census_page .pageTabsInactive {
                width: 115px;
                margin-top: 40px;
                margin-right: 0px;
}
#import {
	margin-top: 0px;
}

.wrappedLabelFix
	{
		margin-top: 1.5em !important;
	}

.subHeadBlueSecondary td, tr.subHeadBlue td, .topHeadRow td{
font-weight:700;
height: 30px;
border-bottom: 1px solid #CCCCCC;
background-color: #D2E3F1;
 background-image: -moz-linear-gradient(top, #EEF3F7, #D2E3F1); /* FF3.6 */
 background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #EEF3F7),color-stop(1, #D2E3F1)); /* Saf4+, Chrome */
           /*filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#EEF3F7', EndColorStr='#D2E3F1');*/ /* IE6,IE7 */
       /*-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#EEF3F7', EndColorStr='#D2E3F1')";*/ /* IE8 */
border-bottom:1px solid #E9E9E9;
}

.cbNoMargin input[type=checkbox]
	{
		margin: 0 3px 0 4px;
	}
.cbNoMarginB input[type=checkbox]
	{
		margin: 0 3px 0 4px;
		display: block;
	}

textarea:focus, select:focus, input:focus{
	border: 1px solid #EF720E !important;
}