.case-nav{
     .gradient(#FBFBFB, #EEEEEE);
	 //.clearfix;
	
     height: 34px;
     font-size: .90em;
     font-weight: bold;
     border: 1px solid #CCC; 
     border-top: 1px solid #ECECEC;
    margin: 0 8px;
	#secondaryNav {
		z-index: 1001 !important;
		margin-bottom: 0;
		
		li {
			.gradient(#FBFBFB, #EEE);
		
		  &:first-child{
			  //border-left: 1px solid #CCC;
		  }//end first-child
			
			a{
				padding: .91em 1.5em;
				color: #333333;
				border-left: 1px solid #EEE;
				border-right: 1px solid #CCC;
				//text-shadow: #CCCCCC 0px 1px 1px;
			  &:hover {
				  background: #CCCCCC;
				  color: #FFFFFF;
			  }//end hover
			 &.sf-with-ul {
			    padding-right: 2.25em;
			 }
			  .sf-sub-indicator {
			   background: url('../scripts/superfish-1.4.8/images/arrows-3283bb.png') no-repeat -10px -100px; /* 8-bit indexed alpha png. IE6 gets solid image only */
			   
				 &:hover {
					background: url('../scripts/superfish-1.4.8/images/arrows-3283bb.png') no-repeat -10px -100px; /* 8-bit indexed alpha png. IE6 gets solid image only */
				}

			   }
			}//end a
				
		  &.current{
			 background: url("../images/exemplar/case-nav-current.png") bottom center no-repeat;
			 height: 44px;
			 a{
				 .gradient(@primary_color, darken(@primary_color, 15%));
				 color: #FFFFFF;
			  &:hover {
				  .gradient(darken(@primary_color, 25%), darken(@primary_color, 15%));
				  color: #FFFFFF;
			  }//end hover
			}//end a
			
			ul{
				a{
					.gradient(#FBFBFB, #EEE);
					color: @textcolor;
					
					&:hover{
						background: #CCCCCC;
						color: #FFFFFF;
					}
				}
			}
		  }//end current
		 &.case-info-link {
		     .gradient();
			 
			 a{
			     
			 }//end a
		 }//end case-info-link
		     ul { 
			   li { 
			   a{ 
			     .sf-sub-indicator {
			       background: url('../scripts/superfish-1.4.8/images/arrows-3283bb.png') no-repeat -10px 0px; /* 8-bit indexed alpha png. IE6 gets solid image only */
			   
				  &:hover {
					background: url('../scripts/superfish-1.4.8/images/arrows-3283bb.png') no-repeat -10px -100px; /* 8-bit indexed alpha png. IE6 gets solid image only */
				  }
			     }
			}//end a
			}//end li
			}//end ul
		}//end li
	}//end secondaryNav
}//end case_nav