/***** Section Headers *****/
.section-header {
    .clearfix;
	width: 95%;
    	
    .section-title {
	    float: left;
		margin-left: 5%;
	}
	.section-action {
	     float: right;
		 margin-right: 5%;
	}
}
/*** Messages and Alerts ***/  
.alert {
    .clearfix;	
	.box_shadow(@shadow);
	@shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	padding: 15px 10px 20px 55px;
	font-size:12px;
	border:1px solid @alert_border;
	color: @text_color;
	min-height:15px;
	line-height:@baseLineHeight;
	margin: 0 auto 20px auto;
	background:@alert;
	width: 90%;
	
		h2 {
		font-size:18px;
		margin:0px;
		}
		
		
		p {
		margin-top:5px;
		}
		
		
		.summary {
		float:left;
		width:40%;
		}
		
		
		.action {
		float:left;
		border-left:1px solid @border;
		padding:0px 0px 0px 40px;
			
			select {
			margin-top:10px;
			}
	}
	
	&.change {
	.gradient (#f4f5f1, #fff);
	border:1px solid @primary;
	}
	
	&.help {
	background: url("../images/info.png") no-repeat 8px 10px @alert;
	}

	&.warn {
	background: url("../images/warning.png") no-repeat 8px 10px @alert;

	border:1px solid #f92104;
	}
	
	&.add {
	background: url("../images/check.png") no-repeat 8px 10px @alert;
	border:1px solid green;
	}
	
	&.review {
	background: url("../images/document_ok.png") no-repeat 8px 10px @alert;
	border:1px solid @alert_border;

	}
	&.action-item {
	   padding: 10px;
	   margin: 10px 0;
	   float:left;
	   
	   .message {
	      float:left; 
		  
		  font-weight: bold;
		  font-size:1.1em;
		  color: #F92104;
		  margin:13px 30px 0 30px;
		  
	   }/*End message*/
	   .action {
	      border-left:none;
	      padding: 0;
		  margin: 0 0 0 30px;
		  float:right;
	   }/*End action*/
	}/*End action-item*/
}//end alert

/* Available plans table*/
.available-plans {
    width:98%;
	margin-bottom: 10px;
    tr{
	    th{
		    font-size: 1.2em;
			color: @text_color;
			font-weight: bold;
			height:50px;
			vertical-align:middle;
			
		  &.compare {
              background: url("../resources/styletemplates/policyadmin/img/comparearrow.png") no-repeat 7px 7px;
			  width: 20px;
          }/*End compare*/
		  &.remove {
		      background: none;
			  border: none;
		  }/*End remove*/
		  &.table-header {
		      font-size: 1.5em;
			  color: @text_color;
			  padding: 0px 0px 0 10px;
			  border: 1px solid @border;
		  }/*End table-header*/
		  &.column-header {
		      background: #FFF;
		  }/*End column-header*/
		  &.left-border {
		      border-left: 1px solid @border;	
		  }
		  &.right-border {
		      border-right: 1px solid @border;	
		  }
		}/*End th*/
	    td{
	        border-top: 1px solid @border;	
		    //border-right: 1px solid lighten(@border, 20%);	
            //border-left: 1px solid @border;	
            border-bottom: 1px solid lighten(@border, 20%);		
            vertical-align: top;
			.compare{
			    padding: 2px;
                float:right;
				background: #FFF;
				border: 1px solid @border;
				border-right: none;
				margin-right: -1px;
				.rounded_corners(7px 0 0 7px);
				input[type=checkbox]{
			       margin-right: 2px;
			    }/*End input[type=checkbox]*/
			}/*End compare*/
		
			.planLink{
		        display: block;
		        color: @linkColor;
		        text-decoration: underline;
		        font-weight: bold;
		        font-size: 1.2em;
		        margin: 10px;
		    }/*End planLink*/
			
			.coverageLabel{
		        display:block;
		        font-size: 1.3em;
		        font-weight: bold;
		        margin: 10px;
		
		      &.new {
		          color: #008000;
		      }/*End new*/
		   }/*End coverageLabel*/
		   .value{
		       float: left;
		       margin: 10px 10px 10px 0;
		       font-size: 1.5em;
		       font-weight: bold;
			   color: lighten(@text_color, 10%);
		   
		     &.cost {
			     color: @secondary;
			 }/*End cost*/
		   }/*End value*/
		  &:first-child {
            border: none;
			border-right: 1px solid @border;	 
			vertical-align: middle;
	      }/*End first-child*/
	      &:last-child {
            border-right: 1px solid @border;
	      }/*End last-child*/
	    }/*End td */ 
	  &:last-child {
	      td{
		      border-bottom: 1px solid @border;
	         
			 &:first-child {
			     border-bottom: none;
			 }/*End first-child*/
		  }/*End td*/
	  }/*End last-child*/
	}/*End tr*/
}/*End available-plans*/

.tabs {
	margin: 2px 0px 0px 5px;
	height:25px;
	display:block;
	clear:both;
}
.tabs a{
	display:block;
	float:left;
	line-height:25px;
	height:25px;
	padding: 0px 10px;
	text-decoration: none;
	background: #c2d4e4 url(../img/tab-inactive.png) repeat-x;
	border-top: 1px solid #c9c9c9;
	border-left: 1px solid #c9c9c9;
	border-right: 1px solid #c9c9c9;
	-moz-border-radius-topright: 7px;
	-moz-border-radius-topleft: 7px;
	-webkit-border-top-right-radius: 7px;
	-webkit-border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	border-top-left-radius: 7px;
	font-weight:700;
	color:#666;
	margin-left: 8px;
}
.tabs a.active{ color:#3d5787; background: #fff url(../img/tab-active.png) repeat-x; }
.tabs a:hover{
	color:#3d5787;
	background: url(../img/categorylinkbg-hover.png) repeat;
}

.plansDisclaimer
{
  clear:both;
  float: left;
  border-top: 1px solid @border;
  padding-top: 10px;
  margin-top: 20px;
}