<div class="content-toolbar">
	{>"filter.productline" filter="{filter}"  /}
	<!-- End sidebar-dropdown -->
	
	<span class="plan-number"><!--span class="active">{filteredProductListSize}</span> of {productListSize}--></span>
	
	<div class="dataGroup toggle-group">
		<label for="_sortdropdown">View:</label>
		<div class="linear-nav-bar">
			<div class="btn-group"> 
			  <a href="javascript:void(0)" class="btn-inline _browse has-tooltip" title="View All Plans">
				<span class="shop-icon-all-plans"></span>
			  </a> 
			  <a href="javascript:void(0)" class="btn-inline _compare has-tooltip" title="View Plan Comparison">
				<span class="shop-icon-compare-plans"></span>
			  </a> 
			  <a href="javascript:void(0)" class="btn-inline active _details has-tooltip" title="View Single Plan Details">
				<span class="shop-icon-details-active"></span>
			  </a> 
			</div>
		</div>
	</div>
	<!-- End toggle-group -->

	
	{?toggleCost}	
	<div class="dataGroup toggle-group">
		
		<label for="_sortdropdown">Cost:</label><div class="linear-nav-bar">
			<div class="btn-group"> 
			  <a href="javascript:void(0)" class="btn-inline _monthly {@if cond="('{costViewCode}' == 'monthly')"}active{/if}">Monthly</a> 
			  <a href="javascript:void(0)" class="btn-inline _paycheck {@if cond="('{costViewCode}' == 'paycheck')"}active{/if}">Paycheck</a> 
			</div>
		</div>
	</div>
	<!-- End toggle-group -->
	{/toggleCost}	
	
</div>
<!-- End content-toolbar -->

<div class="content-toolbar actions-row">
	<div class="subheading">Plan Details</div>
	<a class="back-to-plans _browse" href="javascript:void(0)">Back to Plan List</a>
	<!-- Compare, Email and Print will be getting moved into here -->
</div>