<!-- changes below by rsingh for user stories 12, 13 & 15 -->
<div class="content-tools full-width">

</div>
<!-- End content-tools -->

<div class="plan-wrap" id="planWrap"> <!-- NE Branding (Add plan-wrap div for wrapup plan cards) -->

<div class="content-sidebar" id="contentSidebar">

	<!-- End section -->
</div>
<!-- End content-sidebar -->

<div class="content-section" id="contentSection">

</div>
<!-- End content-section -->
</div>