<div class="content-toolbar">
	{>"filter.productline" filter="{filter}"  /}
	<!-- End sidebar-dropdown -->

	<div class="dataGroup toggle-group">
		<label for="_sortdropdown">View:</label>
		<div class="linear-nav-bar">
			<div class="btn-group"> 
			  <a href="javascript:void(0)" class="btn-inline active _browse has-tooltip" title="View All Plans">
				<span class="shop-icon-all-active"></span>
		 	 </a> 
		  	 <a href="javascript:void(0)" class="btn-inline _compare has-tooltip" title="View Plan Comparison">
				<span class="shop-icon-compare-plans"></span>
		  	 </a> 
		  	  <a href="javascript:void(0)" class="btn-inline _details has-tooltip" title="View Single Plan Details">
				<span class="shop-icon-plan-details"></span>
		  	  </a> 
			</div>
		</div>
	</div>
	<!-- End toggle-group -->
	
	{?toggleCost}	
	<div class="dataGroup toggle-group">
		
		<label for="_sortdropdown">Cost:</label><div class="linear-nav-bar">
			<div class="btn-group"> 
			  <a href="javascript:void(0)" class="btn-inline _monthly {@if cond="('{costViewCode}' == 'monthly')"}active{/if}">Monthly</a> 
			  <a href="javascript:void(0)" class="btn-inline _paycheck {@if cond="('{costViewCode}' == 'paycheck')"}active{/if}">Paycheck</a> 		
			</div>
		</div>
	</div>
	<!-- End toggle-group -->
	{/toggleCost}
	
<!--Changes for SHSBCBSNE-16 -->
	<div class="dataGroup">
		<label for="_sortdropdown">Sort by:</label>
		<select id="_sortdropdown" class="_sortSelector">
		{#sortConfig.sorts}
			<option value="{id}" {#selected}selected{/selected}>{label}</option>
		{/sortConfig.sorts}
		</select>
	</div>
	<!-- End dataGroup -->
</div>
<!-- End content-toolbar -->

<!-- change by rsingh for user stories 12, 13 & 15-->
<!-- NE Branding BUG: SHSBCBSNE-269 -->
<div class="content-toolbar actions-row">
	<!-- Compare, Email and Print will be getting moved into here -->
</div>
<!-- NE Branding -->