		<div class="validation-errors _validationErrors"
			style="display: none;">
			<!-- This div intentionally left blank -->
		</div>

		<div class="instructions on-exchange">Please answer the tobacco section and verify your information before continuing to our plans.</div>
		
		{#demographicsForm}
		<div class="dataGroup multiGroup inline-group">
			<label class="household"><span>My household:</span></label>
			<div class="multiFields">
				<div class="dataGroup">
					<label>Zip Code:</label> 
					<span class="read-only">{zipCode}</span>
				</div>

				<div id="_demographicsCounties">
				
			<!--	{?zipCounties}
					<label>County:</label>
					{#zipCounties selectedCountyId=countyId} 
						{@if cond="('{selectedCountyId}' == '{countyId}')"}
							<span class="read-only">{name}</span>
						{/if} 
					{/zipCounties}
				{/zipCounties}-->
				
				<!--Changes for on-exhange county issue-->
				{?zipCounties}
   <div class="dataGroup">
	<label>County:</label> <select class="_zipCounty form-element"
		name="countyId">
		<!--Changes by Priyanka M for SHSBCBSNE-7 : start-->
		{@if cond="('{noOfCounty}'>1)"}	
		<option value="">Select a county</option> 
		{/if} 
		{#zipCounties selectedCountyId=countyId} 
			{@if cond="('{noOfCounty}'>1)"}	
			{@if cond="('{selectedCountyId}' == '{countyId}')"}
				<option value="{countyId}" selected>{name}</option> 
			{:else}
				<option value="{countyId}">{name}</option> 
			{/if} 
			{:else}
				<option value="{countyId}" selected>{name}</option> 
			{/if}
		{/zipCounties}
			<!--Changes by Priyanka M for SHSBCBSNE-7: end-->
		
	</select>
</div>
{/zipCounties} 
<!--Added by Priyanka M for SHSBCBSNE-7: start-->
{^zipCounties} 
<div class="dataGroup">
<label>County:</label> <select class="_zipCounty form-element"
		name="countyId">
		<option value=""> </option> 
		</select>
		</div>
 {/zipCounties}
				</div>
				
				<div class="dataGroup checkBoxFields">

				</div>
			</div>
		</div>
		{/demographicsForm}

		<table class="coverage-table">
			<thead>
				<tr>
					{#demographicsConfig} {#demographicFields}
					<th class="{headerStyleClass}">{label}</th> {/demographicFields}
					{/demographicsConfig}
				</tr>
			</thead>			
			<tbody>
				{#members}{>"view.whoscovered.onexchange.member.row"/}{/members}
			</tbody>
		</table>

		<div class="notice">
			Note: If your information doesn't appear correct or you need to make changes, you'll need to <a href="javascript: void(0);" class="_backToFFM">go back to the Marketplace</a> to make changes as it may affect your discounts or eligibility results.
		</div>

		<!-- End coverage-table -->

		<div class="paging-section">
			<div class="paging-buttons">				
				<a href="javascript:void(0)" class="btn_primary _whosCoveredEngage {disabledContinueButton}"{helpText|s}>Save & Continue</a>
			</div>
		</div>


