<td>{provider.name.prefix} {provider.name.last}{#provider.name.first}, {.}{/provider.name.first}</td>

{#members providerId=provider.xrefid}
	<td><input class="_providerSelect" data-member-id="{memberRefName}" data-provider-id="{providerId}" {@eq key="{selected}" value="true" type="boolean"}checked{/eq} type="checkbox"></td>
{/members}