<a class="close-icon shop-icon-close _toggle _filter" data-filter-id="hideFilter" data-filter-definition-id="hideFilterGroup" href="javascript:void(0)"></a>
<input type="checkbox" class="plan-selector _planSelector" id="{name}" {#checked}checked{/checked}>
{?isSuggestedPlan}
    <div class="suggested-plan-title">Suggested Plan</div>
{:else}
    {?isBestMatch}<div class="marked-plan-title">Best Match</div>{:else}{?isLowestCost}<div class="marked-plan-title">Lowest Cost</div>{/isLowestCost}{/isBestMatch}
{/isSuggestedPlan}
<div class="plan-card-details">
	<span class="plan-level"><label for="{name}">{level}</label></span>
	<a class="plan-name _planName" href="javascript:void(0)">{name}</a>
	<div class="plan-rate section">
		{@if cond="('{costViewCode}' == 'paycheck')"}
		
			<!-- per paycheck values -->
			{#cost}
				{#perPaycheck}
					{#rate}
					<span class="rate _currency">{@calculatePlanCost}{perPaycheckCost}{/calculatePlanCost}</span>
					<span class="rate-term">/ paycheck</span>
						{?memberLevelRated}
							<a class="cost-breakdown-link _costBreakdown" data-id="{id}" href="javascript:void(0)">View Cost Breakdown</a>
						{:else}
							<span class="cost-breakdown-spacer"></span>
						{/memberLevelRated}
					{/rate}
				{/perPaycheck}
			{/cost}

		{:else}
		
			<!-- monthly values -->
			{#cost}
				{#monthly}
					{#rate}
					{?subsidyData}
						<span class="rate _currency">{#subsidyData}{netRate}{/subsidyData}</span>
						<span class="rate-term">/ mo</span>
						<div class="cost-breakdown-link" data-id="{id}"><a class="currency-link" href="javascript:void(0)">was <span class="_currency">{@calculatePlanCost}{monthlyCost}{/calculatePlanCost}</span></a>
							<div class="cost-breakdown-overlay with-subsidy">
								<div class="subheading _costBreakdown">Premium:</div>
								<div class="rate premium"><span class="_currency">{#subsidyData}{baseRate}{/subsidyData}</span>/mo</div>
								<div class="subheading">Tax Credit:</div>
								<div class="rate">-<span class="_currency">{#subsidyData}{appliedSubsidy}{/subsidyData}</span>/mo</div>
								<!-- THIS NEEDS TO BE PRE-TOBACCO
								<div class="subheading subtotal">Subtotal:</div>
								<div class="rate subtotal _currency">{#subsidyData}{netRate}{/subsidyData}</div>
								-->
								{?tobaccoSurcharge}
									{@if cond="{tobaccoSurcharge} > 0"}
										<div class="subheading tobacco">Tobacco Surcharge:</div>
										<div class="rate tobacco">+<span class="_currency">${tobaccoSurcharge}</span>/mo</div>
									{/if}
								{/tobaccoSurcharge}
								<div class="rate-total">
									<div class="subheading">Your Cost:</div>
									<div class="rate"><span class="_currency">{#subsidyData}{netRate}{/subsidyData}</span>/mo</div>
								</div>
							</div>
						</div>
					{:else}
						<span class="rate _currency">{@calculatePlanCost}{monthlyCost}{/calculatePlanCost}</span>
						<span class="rate-term">/ mo</span>
						{?memberLevelRated}
							<a class="cost-breakdown-link _costBreakdown" href="javascript:void(0)" data-id="{id}">View Cost Breakdown</a>
							<!--div class="cost-breakdown-link _costBreakdown" data-id="{id}"><a href="javascript:void(0)">View Cost Breakdown</a>
								<div class="cost-breakdown-overlay">
									<div class="subheading _costBreakdown">Premium:</div>
									<div class="rate premium _currency">{@calculatePlanCost}{monthlyCost}{/calculatePlanCost}</div>
									<!--div class="subheading subtotal">Subtotal:</div>
									<div class="rate subtotal _currency">{@calculatePlanCost}{monthlyCost}{/calculatePlanCost}</div>
									{?tobaccoSurcharge}
										<div class="subheading tobacco">Tobacco Surcharge:</div>
										<div class="rate tobacco">+<span class="_currency">${tobaccoSurcharge}</span></div>
									{/tobaccoSurcharge}
									<div class="rate-total">
										<div class="subheading">Your Cost:</div>
										<div class="rate _currency">{@calculatePlanCost}{monthlyCost}{/calculatePlanCost}</div>
									</div>
								</div>
							</div-->
						{:else}
							<span class="cost-breakdown-spacer"></span>
						{/memberLevelRated}
					{/subsidyData}		
					{/rate}
				{/monthly}
			{/cost}
			
		{/if}

		<!-- add / remove / cart | quote buttons -->
        {@eq key="{inCart}" value="true" type="boolean"}
        		<a class="btn_primary {?quotingEnabled}plan-select-broker{:else}plan-select{/quotingEnabled} disabled-button all-plans" href="javascript:void(0)">In Cart</a>
        {:else}
			{#availability productLineInCart=productLineInCart}
				{@eq key="{availability}" value="add"}
					<a class="btn_primary {?quotingEnabled}plan-select-broker{:else}plan-select{/quotingEnabled} all-plans _selectLink" href="javascript:void(0)">Add to Cart</a>
				{/eq}
				{@eq key="{availability}" value="replace"}
					<a class="btn_primary {?quotingEnabled}plan-select-broker{:else}plan-select{/quotingEnabled} all-plans _selectLink" href="javascript:void(0)">Replace Plan</a>
				{/eq}
				{@eq key="{availability}" value="unavailable"}
					<a class="btn_primary {?quotingEnabled}plan-select-broker{:else}plan-select{/quotingEnabled} all-plans disabled" href="javascript:void(0)">Unavailable</a>
				{/eq}
			{:else}
				<a class="btn_primary {?quotingEnabled}plan-select-broker{:else}plan-select{/quotingEnabled} all-plans _selectLink" href="javascript:void(0)">{@eq key="{productLineInCart}" value="true" type="boolean"}Replace Plan{:else}Add to Cart{/eq}</a>
			{/availability}   
         {/eq}
         
         {?quotingEnabled}
           	<a class="btn-utility quote-button {?inQuote}disabled-button{/inQuote} all-plans _selectQuoteLink" href="javascript:void(0)">
               	{?inQuote}In Current Quote{:else}Add to Quote{/inQuote}
            </a>   
         {/quotingEnabled}  
         	
   	</div>
	<!-- End plan-rate -->

<!-- Sections Commented for SHSBCBSNE-18 -->
	<!--<div class="section plan-preference">
		<div class="subheading"><span class="preference-chart _chart"></span>Plan Preference Match</div>
		<ul class="match-list">
		{#preferenceMatches}
			
			<li><span {?value}class="icon shop-icon-match"{:else}class="icon shop-icon-mismatch"{/value}></span><span class="preference">{label}</span></li>
			{:else}
			
			<li><a class="_showQuestions" href="javascript:void(0)">You haven't answered any questions that match this plan.</a></li>
		{/preferenceMatches}
		</ul>
	</div>-->
	

	<div class="section plan-details _details">
		<div class="subheading">Plan Highlights</div>
	    {?planMetalTier}
				<div class="dataGroup">
					<label for="_planDeductible">Metal Tier:</label>
					<span class="read-only">{planMetalTier}</span>
				</div>
	    {/planMetalTier}
			
		{@categoryDetailBenefits:benefitCategories limit=5}	
					
			{#benefitCategories}

				{@iter:benefits}

				<div class="dataGroup _benefits">
					<label for="_planDeductible">{value.displayName}</label>
					<span class="read-only">{@iter:value.values}{@if cond="({count} > 1)"} / {/if}{value.value}{/iter}</span>			
				</div>
					
				{/iter}

			{/benefitCategories}	
						
		{/categoryDetailBenefits}
		<!-- start Changes by rsingh for SHSBCBSNE-229   -->
		{@if cond="('{coverageType}' == 'DEN')"}
			<div class="subheading" style="color:#000;font-weight:500;">Description</div>
			{?description}
				<span style="font-weight:500; color:#0099CC; font-size:1.20em;">{description}</span>
			{/description}
		{/if}
		{@if cond="('{coverageType}' != 'DEN')"}
			<a class="details-link _detailsLink" href="javascript:void(0)">View Full Detail</a>
		{/if}
		<!-- end Changes by rsingh for SHSBCBSNE-229   -->
	</div>
	<!-- End section -->
</div>
<!-- End plan-card-details -->