{@eq key="{renderProgressList}" value="true" type="boolean"}
<ul>
{#wigetList currentWidgetId=currentWidgetId}
{@select key="{config.questionRefId}"}
    {@eq value="{currentWidgetId}"}
	<li class="progBarList active">
	{:else}
	<li class="progBarList">
	{/eq}
{/select}
		<a class="_question" data-id="{config.questionRefId}" href="javascript:void(0)">{config.title}</a>
	</li>
{/wigetList}
</ul>
{/eq}